<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
            <a [routerLink]="['/menu-interactivo']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                &nbsp;{{ 'Menu Interactivo' | translate }}
             </a>
        <a [routerLink]="['/codificador']" [routerLinkActive]="['router-link-active']" class="list-group-item">
           &nbsp;{{ 'Codificador A/V' | translate }}
        </a>
         <a [routerLink]="['/multiplexor']" [routerLinkActive]="['router-link-active']" class="list-group-item">
           &nbsp;{{ 'Multiplexor' | translate }}
        </a>
        <a [routerLink]="['/remux']" [routerLinkActive]="['router-link-active']" class="list-group-item">
           &nbsp;{{ 'Remultiplexor' | translate }}
        </a>
         <a [routerLink]="['/modulador']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    &nbsp;{{ 'Modulador' | translate }}
        </a>
        
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
           &nbsp;{{ 'Red Frecuencia Unica' | translate }}
        </a>
        
    </ul>
</nav>
