
<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/login']" [routerLinkActive]="['router-link-active']"  >Calculadora ISDB-Tb</a>
        <div class="navbar-brand">
            <ng-template #content let-c="close" let-d="dismiss">
              </ng-template>


        </div>
    </nav>
</div>

