
<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/menu-interactivo">Calculadora ISDB-Tb</a>
        <div>
            <ng-template #content let-c="close" let-d="dismiss">
                <div  class="modal-header">
                  <h3   >Calculadora ISDB-Tb V2.0</h3>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Libro:</p>
                  <p align="center">Transmision de Television Digital Terrestre en la norma ISDB-Tb Tratado Fundamental Para Estudiantes Avanzados, Tecnicos y Profesionales <p> 
                  <p>ISBN: 978-987-1954-08-7</p>
                  <b>Autores:</b>
                  <p>Ing. Nestor Oscar Pisciotta</p>
                  <p>Ing. Carlos Guillermo Liendo</p>
                  <p>Ing. Roberto Carlos Lauro</p>
                  <b>Desarrollo del software:</b>
                  <p>Ing. Fried Maximiliano v2.0</p>
                  <p>Ing. Nicolas Liendo v1.0</p>
                  <b>Consultas</b>
                  <p>clientes.conosur@cengage.com</p>
                </div>
                <div class="modal-footer">
                </div> 
              </ng-template>
              <button style="position: relative;" class="btn btn-secondary btn-sm" (click)="open(content)">Acerca de</button>
              
              
        </div>
    </nav>
</div>

