
<h4>Red de Frecuencia Única</h4>
<div>
    <agm-map
    [latitude]="lat" 
    [longitude]="lng"
    [zoom]="zoom"
    [gestureHandling]="gesture"
    [mapTypeControl]="true"
    [mapTypeControlOptions]="mapType"
    >
                    <div *ngIf="tra0" >
                    <agm-marker
                    [latitude]="markers[0].lati" 
                    [longitude]="markers[0].longi"
                    [markerDraggable]="markers[0].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[0], $event)"
                    (click)="mostrarInfo()">
                    <agm-info-window > 
                        <div *ngIf="mostLati;else other"> {{nombreEstacion[0]}}  <br> Lat:{{mostLati}} <br> Long:{{ mostLongi}}  <br>Retardo de red:{{retardoRed}}
                            <br> Offset: {{retardos[0]}} </div>
                         <ng-template #other>{{nombreEstacion[0]}} <br> Lat:{{markers[0].lati.toFixed(7)}} <br> Long:{{ markers[0].longi.toFixed(7)}} 
                            <br>Retardo de red:{{retardoRed}}
                        <br> Offset: {{retardos[0]}} </ng-template>
                        
                        </agm-info-window>
                    </agm-marker>
                    </div>

                    <div *ngIf="tra1" >
                    <agm-marker  
                    [latitude]="markers[1].lati" 
                    [longitude]="markers[1].longi"
                    [markerDraggable]="markers[1].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[1], $event)">
                    <agm-info-window>
                            <div *ngIf="mostLati1;else other"> {{nombreEstacion[1]}}  <br> Lat:{{mostLati1}} <br> Long:{{ mostLongi1}} <br>Retardo de red:{{retardoRed}}
                                <br> Offset: {{retardos[1]}} </div>
                            <ng-template #other>{{nombreEstacion[1]}}  <br> Lat:{{markers[1].lati.toFixed(7)}} <br> Long:{{ markers[1].longi.toFixed(7)}}
                                <br>Retardo de red:{{retardoRed}}
                                <br> Offset: {{retardos[1]}}</ng-template>
                    </agm-info-window>
                    </agm-marker>
                    </div>

                    <div *ngIf="recep" >
                    <agm-marker  
                     [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/blue-dot.png'"
                    [latitude]="markers[2].lati" 
                    [longitude]="markers[2].longi"
                    [markerDraggable]="markers[2].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[2], $event)">
                    <agm-info-window>
                            <div *ngIf="mostLati2;else other"> {{markers[2].nombre}}  <br> Lat:{{mostLati2}} <br> Long:{{ mostLongi2}} </div>
                            <ng-template #other>{{markers[2].nombre}}  <br> Lat:{{markers[2].lati.toFixed(7)}} <br> Long:{{ markers[2].longi.toFixed(7)}}</ng-template>
                    </agm-info-window>
                    </agm-marker>
                    </div>

                   
                 <div *ngIf="obst" >
                    <agm-marker  
                     [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/green-dot.png'"
                    [latitude]="markers[3].lati" 
                    [longitude]="markers[3].longi"
                    [markerDraggable]="markers[3].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[3], $event)">
                    <agm-info-window>
                            <div *ngIf="mostLati3;else other"> {{markers[3].nombre}}  <br> Lat:{{mostLati3}} <br> Long:{{ mostLongi3}} </div>
                            <ng-template #other>{{markers[3].nombre}}  <br> Lat:{{markers[3].lati.toFixed(7)}} <br> Long:{{ markers[3].longi.toFixed(7)}}</ng-template>
                    </agm-info-window>
                    </agm-marker>
                    </div>
                    <div *ngIf="tra2" >
                    <agm-marker  
                    [latitude]="markers[4].lati" 
                    [longitude]="markers[4].longi"
                    [markerDraggable]="markers[4].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[4], $event)">
                    <agm-info-window>
                            <div *ngIf="mostLati4;else other"> {{nombreEstacion[2]}}  <br> Lat:{{mostLati4}} <br> Long:{{ mostLongi4}} <br>Retardo de red:{{retardoRed}}
                                <br> Offset: {{retardos[2]}} </div>
                            <ng-template #other>{{nombreEstacion[2]}}   <br> Lat:{{markers[4].lati.toFixed(7)}} <br> Long:{{ markers[4].longi.toFixed(7)}}
                                <br>Retardo de red:{{retardoRed}}
                                <br> Offset: {{retardos[2]}}</ng-template>
                    </agm-info-window>
                    </agm-marker>
                    </div>

                     <div *ngIf="tra3" >
                    <agm-marker  
                    [latitude]="markers[5].lati" 
                    [longitude]="markers[5].longi"
                    [markerDraggable]="markers[5].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[5], $event)">
                    <agm-info-window>
                            <div *ngIf="mostLati5;else other"> {{nombreEstacion[3]}}   <br> Lat:{{mostLati5}} <br> Long:{{ mostLongi5}} <br>Retardo de red:{{retardoRed}}
                                <br> Offset: {{retardos[3]}} </div>
                            <ng-template #other>{{nombreEstacion[3]}}  <br> Lat:{{markers[5].lati.toFixed(7)}} <br> Long:{{ markers[5].longi.toFixed(7)}}
                                <br>Retardo de red:{{retardoRed}}
                                <br> Offset: {{retardos[3]}}</ng-template>
                    </agm-info-window>
                    </agm-marker>
                    </div>
                  <div *ngIf="recep2" >
                    <agm-marker  
                     [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/blue-dot.png'"
                    [latitude]="markers[6].lati" 
                    [longitude]="markers[6].longi"
                    [markerDraggable]="markers[6].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[6], $event)">
                    <agm-info-window>
                            <div *ngIf="mostLati6;else other"> {{markers[6].nombre}}  <br> Lat:{{mostLati6}} <br> Long:{{ mostLongi6}} </div>
                            <ng-template #other>{{markers[6].nombre}}  <br> Lat:{{markers[6].lati.toFixed(7)}} <br> Long:{{ markers[6].longi.toFixed(7)}}</ng-template>
                    </agm-info-window>
                    </agm-marker>
                    </div>
    </agm-map>
</div>

<!-- Resultados  -->
<div class="row">
    <div class="col">   
                <ngb-tabset >
                    <ngb-tab>
                            <ng-template ngbTabTitle> <b>Selector</b> </ng-template>
                        <ng-template ngbTabContent>
                            <br>
                            <div class="alert alert-warning" role="alert"> 
  <strong>Atencion!</strong> Ingresar latitud y longitud utilizando "." y sin espacios. 
</div>

<div class="row">
<div class="col">   
        <div class="card mb-3">
        <div class="card-block">
                <div class="btn-group btn-group-sm btn-responsive " role="group">
                        <button (click)="test('tx1')" [class.active]="activeButtonName === 'tx1'"  type="button" class="btn btn-secondary btn-responsive"  >{{nombreEstacion[0]}}</button>
                        <button (click)="test('tx2')" [class.active]="activeButtonName === 'tx2'" type="button" class="btn btn-secondary btn-responsive " >{{nombreEstacion[1]}}</button>
                        <button (click)="test('tx3')" [class.active]="activeButtonName === 'tx3'" type="button" class="btn btn-secondary btn-responsive ">{{nombreEstacion[2]}}</button>
                        <button (click)="test('tx4')" [class.active]="activeButtonName === 'tx4'" type="button" class="btn btn-secondary btn-responsive ">{{nombreEstacion[3]}}</button>
                        <button (click)="test('rx1')" [class.active]="activeButtonName === 'rx1'" type="button" class="btn btn-secondary btn-responsive ">Rx1</button>
                        <button (click)="test('rx2')" [class.active]="activeButtonName === 'rx2'" type="button" class="btn btn-secondary btn-responsive ">Rx2</button>
                        <button (click)="test('obst')" [class.active]="activeButtonName === 'obst'" type="button" class="btn btn-secondary btn-responsive ">Obstaculo</button>
                      </div> <br><br>

                        <div *ngIf="selector[0]">
                                <form (ngSubmit)="uploadTx1()" #frmTx1="ngForm" > {{nombreEstacion[0]}}
                                   <input  type="checkbox" [(ngModel)]="tra0" (change)="cambioTx1()" name="tra0" id="tra0" > <br> 
                                       <input [(ngModel)]="newLatTx1"  placeholder="Latitud" name="newLatTx1" id="newLatTx1" ngModel  pattern="[-0-9.,]{2,16}" required> <!--  -->
                                       <input [(ngModel)]="newLongTx1"  placeholder="Longitud" name="newLongTx1" id="newLongTx1" ngModel  pattern="[-0-9.,]{2,16}" required  ><br>
                                       Fijar marcador <input  type="checkbox"  [(ngModel)]="estan[0]" (change)="estancarTx1()" name="estan[0]" id="estan[0]" > <br> 
                                      <button [disabled]=!frmTx1.valid||estan[0]  type="submit" class="btn btn-sm btn-secondary" > Actualizar </button> <br>
                                 <!--     <td> Lat: {{mostLati}}</td>
                                      <td> Long:{{ mostLongi}}</td> -->
                                      </form >
                        </div>
                        <div *ngIf="selector[1]">
                                <form (ngSubmit)="uploadTx2()" #frmTx2="ngForm"> {{nombreEstacion[1]}}
                                    <input type="checkbox" [(ngModel)]="tra1"  (change)="cambioTx2()"  name="tra1" id="tra1"><br> 
                                    <input [(ngModel)]="newLatTx2"  placeholder="Latitud" name="newLatTx2" id="newLatTx2" ngModel  pattern="[-0-9.,]{2,16}" required  >
                                     <input [(ngModel)]="newLongTx2"  placeholder="Longitud" name="newLongTx2" id="newLongTx2" ngModel  pattern="[-0-9.,]{2,16}" required > <br>
                                     Fijar marcador <input  type="checkbox"  [(ngModel)]="estan[1]" (change)="estancarTx2()" name="estan[1]" id="estan[1]" > <br> 
                                    <button  [disabled]=!frmTx2.valid||estan[1] type="submit" class="btn btn-sm btn-secondary" > Actualizar </button> <br>
                               <!--     <td>Lat: {{mostLati1}}</td>
                                    <td> Long:{{mostLongi1}}</td>-->
                                
                                    </form> 
                        </div>
                        <div *ngIf="selector[2]">
                                <form (ngSubmit)="uploadTx3()" #frmTx3="ngForm"> {{nombreEstacion[2]}}
                                   <input type="checkbox" [(ngModel)]="tra2" (change)="cambioTx3()"   name="tra2" id="tra2"><br> 
                                   <input [(ngModel)]="newLatTx3"  placeholder="Latitud" name="newLatTx3" id="newLatTx3" ngModel  pattern="[-0-9.,]{2,16}" required  >
                                    <input [(ngModel)]="newLongTx3"  placeholder="Longitud" name="newLongTx3" id="newLongTx3" ngModel  pattern="[-0-9.,]{2,16}" required ><br>
                                    Fijar marcador <input  type="checkbox"  [(ngModel)]="estan[2]" (change)="estancarTx3()" name="estan[2]" > <br> 
                                   <button  [disabled]=!frmTx3.valid||estan[2] type="submit" class="btn btn-sm btn-secondary" > Actualizar </button><br>
                            <!--       <td>Lat: {{mostLati4}}</td>
                                   <td>Long:{{mostLongi4}}</td> -->
                               
                                    </form>

                        </div>

                        <div *ngIf="selector[3]">
                                <form (ngSubmit)="uploadTx4()" #frmTx4="ngForm"> {{nombreEstacion[3]}}
                                     <input type="checkbox" [(ngModel)]="tra3"  (change)="cambioTx4()"  name="tra3" id="tra3"><br> 
                                     <input [(ngModel)]="newLatTx4"  placeholder="Latitud" name="newLatTx4" id="newLatTx4" ngModel  pattern="[-0-9.,]{2,16}" required  > 
                                     <input [(ngModel)]="newLongTx4"  placeholder="Longitud" name="newLongTx4" id="newLongTx4" ngModel  pattern="[-0-9.,]{2,16}" required  > <br>
                                     Fijar marcador <input  type="checkbox"  [(ngModel)]="estan[3]" (change)="estancarTx4()" name="estan[3]" > <br> 
                                     <button  [disabled]=!frmTx4.valid||estan[3] type="submit" class="btn btn-sm btn-secondary" > Actualizar </button> <br>
                                <!--     <td>Lat: {{mostLati5}}</td>
                                     <td>Long:{{mostLongi5}}</td> -->
                                      </form>                                
                                
                        </div>
                        <div *ngIf="selector[4]">
                                <form (ngSubmit)="uploadRx()" #frmRx="ngForm"> Rx1
                                  <input type="checkbox" [(ngModel)]="recep" (change)="cambioRx1()"  name="recep" id="recep"><br> 
                                  <input [(ngModel)]="newLatRx"  placeholder="Latitud" name="newLatRx" id="newLatRx" ngModel  pattern="[-0-9.,]{2,16}" required  > 
                                   <input [(ngModel)]="newLongRx"  placeholder="Longitud" name="newLongRx" id="newLongRx" ngModel  pattern="[-0-9.,]{2,16}" required ><br>
                                   Fijar marcador <input  type="checkbox"  [(ngModel)]="estan[4]" (change)="estancarRx1()" name="estan[4]" > <br> 
                                  <button [disabled]=!frmRx.valid||estan[4] type="submit" class="btn btn-sm btn-secondary"> Actualizar </button> <br>
                           <!--       <td>Lat: {{mostLati2}}</
                                  <td>Long:{{mostLongi2}}</td> -->
                                   </form>                                                                
                                                                
                        </div>
                        <div *ngIf="selector[5]">
                                <form (ngSubmit)="uploadRx2()" #frmRx2="ngForm"> Rx2
                                  <input type="checkbox" [(ngModel)]="recep2" (change)="cambioRx2()"  name="recep2" id="recep2"><br> 
                                  <input [(ngModel)]="newLatRx2"  placeholder="Latitud" name="newLatRx2" id="newLatRx2" ngModel  pattern="[-0-9.,]{2,16}" required  >
                                      <input [(ngModel)]="newLongRx2"  placeholder="Longitud" name="newLongRx2" id="newLongRx2" ngModel pattern="[-0-9.,]{2,16}" required  ><br>
                                      Fijar marcador <input  type="checkbox"  [(ngModel)]="estan[5]" (change)="estancarRx2()" name="estan[5]" > <br> 
                                  <button [disabled]=!frmRx2.valid||estan[5] type="submit" class="btn btn-sm btn-secondary"> Actualizar </button><br>
                           <!--       <td>Lat: {{mostLati6}}</td>
                                  <td>Long:{{mostLongi6}}</td> -->
                                   </form >                                
                                
                        </div>  
                        <div *ngIf="selector[6]">
                                <form  (ngSubmit)="uploadOb()" #frmOb="ngForm" > Obstáculo
                                   <input type="checkbox" [(ngModel)]="obst" (change)="cambioObst()" name="obst" id="obst" ><br> 
                                    <input [(ngModel)]="newLatOb"  placeholder="Latitud" name="newLatOb" id="newLatOb" ngModel pattern="[-0-9.,]{2,16}" required >
                                       <input [(ngModel)]="newLongOb"  placeholder="Longitud" name="newLongOb" id="newLongOb" ngModel pattern="[-0-9.,]{2,16}" required  ><br>
                                       Fijar marcador <input  type="checkbox"  [(ngModel)]="estan[6]" (change)="estancarObst()" name="estan[6]" > <br> 
                                    <button  [disabled]=!frmOb.valid||estan[6] type="submit" class="btn btn-sm btn-secondary" > Actualizar </button><br>
                           <!--        <td>Lat: {{mostLati3}}</td>
                                   <td>Long:{{mostLongi3}}</td> -->
                                    </form>                                
                                
                        </div>

</div>
</div>
</div>
</div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab >
                            <ng-template ngbTabTitle> <b>Retardos</b> </ng-template>
                        <ng-template ngbTabContent>
                            <div class="card-block">
                                <div class="alert alert-warning" role="alert"> 
  <strong>Atencion!</strong> Luego de realizar las modificaciones recuerda APLICAR LOS CAMBIOS!
</div>
                              
 <form  (ngSubmit)="aplicarCambios()" #frmRetardos="ngForm"> 
                                        <button  type="submit" class="btn btn-sm btn-secondary" > Aplicar Cambios </button> <br><br>
                                        <input type="checkbox" [(ngModel)]="enableSFN"   name="enableSFN" disabled  > Habilitar SFN <br><br>
                            
                                        <table class="table table-responsive" >
                                                <thead>
                                                    <tr>
                                                        <th >Retardos</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     
                                     <tr>
                                        <th scope="row">Retardo de Red: Dt<sub>max</sub> (x100ns)</th>
                                        <td >  <input type="text" class="form-control" [(ngModel)]="retardoRed" name="retardoRed"   aria-describedby="basic-addon1"> </td>
                                    </tr>
                                                </tbody>
                                            </table> <br>
                              
                                            <table class="table  ">
                                                    <thead>
                                                        <tr>
                                                            <th scope="row">Retardo adicional</th>
                                                        </tr>
                                                    </thead>
                                                    <thead>
                                                        <tr>
                                                            <th scope="row" >#</th>
                                                            <th  >Equipment ID</th>
                                                            <th >Time-Offset: Dt<sub>off</sub> (x100ns)</th>
                                                            <th >Offset</th>
                                                            <th >Modo</th> 
                                                            <th  >Enable</th>
                                                        </tr>
                                                    </thead>
                                                 
                                    <tbody>
                                        
                                         <tr>
                                            <th scope="row">{{nombreEstacion[0]}} </th>
                                            <td> <input type="text" class="form-control" [(ngModel)]="idModulador[0]" name="idModulador[0]" (change)="mod()"   aria-describedby="basic-addon1"> </td>
                                            <td><input type="text" class="form-control" [(ngModel)]="retardos[0]" name="retardoTx1"  pattern="[-0-9.]{1,10}"  aria-describedby="basic-addon1"> </td>
                                            <td> <select (change)="cambio($event.target.value, 'Tx1')"  [(ngModel)]="polarity[0]" name="polarity[0]" >
                                                <option>Atraso (+)</option>
                                                <option  >Adelanto (-)</option>
                                              </select>
                                        </td>
                                        <td><select  (change)="cambioModo($event.target.value, 'Tx1')"  [(ngModel)]="modo[0]" name="modo[0]" >
                                                <option >Dinámico</option>
                                                <option disabled *ngIf="!negativeOn1">Estatico</option>
                                              </select></td> 
                                            <td><input type="checkbox"  [(ngModel)]="retardosState[0]"  name="booleanRetardoTx1" id="booleanRetardoTx1"  ></td>
                                        </tr>
                                         <tr>
                                            <th scope="row">{{nombreEstacion[1]}} </th>
                                            <td> <input type="text" class="form-control" [(ngModel)]="idModulador[1]" name="idModulador[1]" (change)="mod()"     aria-describedby="basic-addon1"> </td>
                                            <td> <input type="text" class="form-control"  [(ngModel)]="retardos[1]"  name="retardoTx2" aria-describedby="basic-addon1"></td>
                                            <td><select (change)="cambio($event.target.value, 'Tx2')" [(ngModel)]="polarity[1]" name="polarity[1]" >
                                                    <option>Atraso (+)</option>
                                                    <option  >Adelanto (-)</option>
                                              </select></td>
                                             <td><select   (change)="cambioModo($event.target.value, 'Tx2')"  [(ngModel)]="modo[1]" name="modo[1]">
                                                <option>Dinámico</option>
                                                <option disabled *ngIf="!negativeOn2">Estatico</option>
                                              </select></td> 
                                            <td><input type="checkbox"    [(ngModel)]="retardosState[1]"  name="booleanRetardoTx2" id="booleanRetardoTx2" ></td>
                                            
                                        </tr>
                                         <tr>
                                            <th scope="row">{{nombreEstacion[2]}} </th>
                                            <td><input type="text" class="form-control" [(ngModel)]="idModulador[2]" name="idModulador[2]" (change)="mod()"    aria-describedby="basic-addon1"> </td>
                                            <td><input type="text" class="form-control" [(ngModel)]="retardos[2]"  name="retardoTx3"  aria-describedby="basic-addon1"> </td>
                                            <td><select (change)="cambio($event.target.value, 'Tx3')" [(ngModel)]="polarity[2]" name="polarity[2]" >
                                                    <option>Atraso (+)</option>
                                                    <option  >Adelanto (-)</option>
                                              </select></td>
                                       <td><select   (change)="cambioModo($event.target.value, 'Tx3')"  [(ngModel)]="modo[2]" name="modo[2]">
                                                <option>Dinámico</option>
                                                <option disabled *ngIf="!negativeOn3" >Estatico</option>
                                              </select></td> 
                                            <td><input type="checkbox"    [(ngModel)]="retardosState[2]"  name="booleanRetardoTx3" id="booleanRetardoTx3" ></td>
                                        </tr>
                                         <tr>
                                            <th scope="row">{{nombreEstacion[3]}} </th>
                                            <td> <input type="text" class="form-control" [(ngModel)]="idModulador[3]" name="idModulador[3]" (change)="mod()"     aria-describedby="basic-addon1"> </td>
                                            <td> <input type="text" class="form-control"  [(ngModel)]="retardos[3]"  name="retardoTx4"  aria-describedby="basic-addon1"></td>
                                            <td><select (change)="cambio($event.target.value, 'Tx4')" [(ngModel)]="polarity[3]" name="polarity[3]" >
                                                    <option>Atraso (+)</option>
                                                    <option  >Adelanto (-)</option>
                                              </select></td>
                                         <td><select  (change)="cambioModo($event.target.value, 'Tx4')"  [(ngModel)]="modo[3]" name="modo[3]">
                                                <option>Dinámico</option>
                                                <option disabled *ngIf="!negativeOn4">Estatico</option>
                                              </select></td> 
                                            <td><input type="checkbox" [(ngModel)]="retardosState[3]"  name="booleanRetardoTx4" id="booleanRetardoTx4" ></td>
                                        </tr> <br>
                                         
                                      
                                    </tbody>
                                        
                                                </table>
                                    
                              
                           
                                  </form>
                            </div>
                        </ng-template>
                        </ngb-tab>

    
                    <ngb-tab>
                            <ng-template ngbTabTitle> <b>Ventana de Sincronización Rx1</b> </ng-template>
                        <ng-template ngbTabContent>
                            <br>
<div><b>Modo de operacion de la Ventana de Sincronización Rx1</b> <br>
    <input type="checkbox"  [(ngModel)]="transmisorCercano" name="transmisorCercano" id="transmisorCercano" (change)="modoOperacionVentana1(transmisorCercano,'transmisorCercano')" > Transmisor mas cercano <br>
    <input type="checkbox" [(ngModel)]="seleccionManual"   name="seleccionManual" id="seleccionManual"(change)="modoOperacionVentana1(seleccionManual, 'seleccionManual')" > Seleccion manual 
     <select [disabled]="transmisorCercano" [(ngModel)]="seleccionadoManual" (change)="cambioSeleccionManual($event.target.value)" >
        <option *ngIf="tra0" value="Tx1" >{{nombreEstacion[0]}}</option>
        <option *ngIf="tra1" value="Tx2">{{nombreEstacion[1]}}</option> 
        <option *ngIf="tra2" value="Tx3">{{nombreEstacion[2]}}</option>
        <option *ngIf="tra3" value="Tx4">{{nombreEstacion[3]}}</option>
        <option *ngIf="tra0 && obst" value="Camino Reflejado-Tx1"  >Camino Reflejado-{{nombreEstacion[0]}}</option>
        <option *ngIf="tra1 && obst" value="Camino Reflejado-Tx2"  >Camino Reflejado-{{nombreEstacion[1]}}</option>
        <option *ngIf="tra2 && obst" value="Camino Reflejado-Tx3" >Camino Reflejado-{{nombreEstacion[2]}}</option>
        <option *ngIf="tra3 && obst" value="Camino Reflejado-Tx4" >Camino Reflejado-{{nombreEstacion[3]}}</option>
      </select>




</div>                        
                            
<div *ngIf="recep">
        <br> 
        <button 
        type="button"
        class="btn btn-sm btn-secondary"
        data-toggle="tooltip" data-placement="top" 
        (click)="ventanaSincro()">Mostrar</button> <br>    
<script src="node_modules/chart.js/src/chart.js"></script>
<div *ngIf="chart_visible">
<canvas 
 baseChart height="100"
        [datasets]="lineChartData"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
  ></canvas>

</div>

</div>

<div class="card-block">
        <table class="table ">
            <thead>
                <tr>
                    <th> Distancia entre cada Transmisor y el Rx1</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                            <th scope="row"></th>
                           <td>  {{nombreEstacion[0]}}   </td>
                            <td>{{nombreEstacion[1]}} </td>
                            <td>{{nombreEstacion[2]}} </td>
                            <td>{{nombreEstacion[3]}} </td>
                        </tr>
                <tr>
                    <th scope="row"> Camino Directo</th>
                   <td>     <p *ngIf="tra0" id="testB"> </p> </td>
                    <td><p *ngIf="tra1" id="testA"> </p> </td>
                    <td><p  *ngIf="tra2" id="testdistTx3Rx1"> </p></td>
                    <td><p  *ngIf="tra3"id="testdistTx4Rx1"></p></td>
                </tr>
                    <tr>
                            <th scope="row"> Camino Reflejado</th>
                            <td>  <p id="testTx1Ob"> </p> </td>
                            <td><p id="testTx2Rx1CR"> </p> </td>
                            <td><p id="testTx3Rx1CR"></p></td>
                            <td><p id="testTx4Rx1CR"></p></td>
                        </tr>
            </tbody>
        </table>
    </div>
    <div class="card-block">
    <table class="table ">
            <thead>
                <tr>
                    <th> Diferencia de tiempo entre cada Transmisor y el primero en llegar </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                            <th scope="row"></th>
                           <td> {{nombreEstacion[0]}}   </td>
                            <td>{{nombreEstacion[1]}} </td>
                            <td>{{nombreEstacion[2]}} </td>
                            <td>{{nombreEstacion[3]}} </td>
                        </tr>
                          
                    <tr>
                            <th scope="row">  Camino Directo [µs] </th>
                            <td >
                             <span  *ngIf="interfBoolean[0] && tra0 && recep" style="color:red"  >{{interfTx[0]}}</span>
                             <span *ngIf="!interfBoolean[0] && tra0 && recep" style="color:black"  >{{interfTx[0]}}</span>
                            </td>
                            <td>
                             <span *ngIf="interfBoolean[1] && tra1 && recep" style="color:red"  >{{interfTx[1]}}</span>
                             <span *ngIf="!interfBoolean[1] && tra1 && recep" style="color:black"  >{{interfTx[1]}}</span>

                             </td>
                            <td>
                             <span *ngIf="interfBoolean[2] && tra2 && recep" style="color:red"  >{{interfTx[2]}}</span>
                             <span *ngIf="!interfBoolean[2] && tra2 && recep" style="color:black"  >{{interfTx[2]}}</span>

                             </td>
                            <td>
                             <span *ngIf="interfBoolean[3] && tra3 && recep" style="color:red"  >{{interfTx[3]}}</span>
                             <span *ngIf="!interfBoolean[3] && tra3 && recep" style="color:black"  >{{interfTx[3]}}</span>

                             </td>
                           
                        </tr>
                        <tr>
                                <th scope="row">  Camino Reflejado [µs]</th>
                                <td  >
                                        <span *ngIf="interfBoolean[4] && tra0 && recep && obst" style="color:red"  >{{interfTx[4]}}</span>
                                        <span *ngIf="!interfBoolean[4] && tra0 && recep && obst" style="color:black"  >{{interfTx[4]}}</span>
                                       </td>
                                       <td>
                                        <span *ngIf="interfBoolean[5] && tra1 && recep && obst" style="color:red"  >{{interfTx[5]}}</span>
                                        <span *ngIf="!interfBoolean[5] && tra1 && recep && obst" style="color:black"  >{{interfTx[5]}}</span>
           
                                        </td>
                                       <td>
                                        <span *ngIf="interfBoolean[6] && tra2 && recep && obst" style="color:red"  >{{interfTx[6]}}</span>
                                        <span *ngIf="!interfBoolean[6] && tra2 && recep && obst" style="color:black"  >{{interfTx[6]}}</span>
           
                                        </td>
                                       <td>
                                        <span *ngIf="interfBoolean[7] && tra3 && recep && obst" style="color:red"  >{{interfTx[7]}}</span>
                                        <span *ngIf="!interfBoolean[7] && tra3 && recep && obst" style="color:black"  >{{interfTx[7]}}</span>
           
                                        </td>                    
                            </tr>
            </tbody>
    </table>
    </div>                       

                    </ng-template>
                    </ngb-tab> 
                    <ngb-tab >
                            <ng-template ngbTabTitle> <b>Ventana de Sincronización Rx2</b> </ng-template>
                        <ng-template ngbTabContent>
                                <br>
                                <div><b>Modo de operacion de la Ventana de Sincronización Rx2</b> <br>
                                    <input type="checkbox"  [(ngModel)]="transmisorCercano2" name="transmisorCercano2" id="transmisorCercano2" (change)="modoOperacionVentana2(transmisorCercano2,'transmisorCercano2')" > Transmisor mas cercano <br>
                                    <input type="checkbox" [(ngModel)]="seleccionManual2"   name="seleccionManual2" id="seleccionManual2"(change)="modoOperacionVentana2(seleccionManual2, 'seleccionManual2')" > Seleccion manual 
                                     <select [disabled]="transmisorCercano2" [(ngModel)]="seleccionadoManual2" (change)="cambioSeleccionManual2($event.target.value)" >
                                            <option *ngIf="tra0" value="Tx1" >{{nombreEstacion[0]}}  </option>
                                            <option *ngIf="tra1" value="Tx2">{{nombreEstacion[1]}} </option>
                                            <option *ngIf="tra2" value="Tx3" >{{nombreEstacion[2]}}  </option>
                                            <option *ngIf="tra3" value="Tx4">{{nombreEstacion[3]}} </option>
                                            <option *ngIf="tra0 && obst" value="Camino Reflejado-Tx1"   >Camino Reflejado-{{nombreEstacion[0]}}</option>
                                            <option *ngIf="tra1 && obst" value="Camino Reflejado-Tx2"  >Camino Reflejado-{{nombreEstacion[1]}}</option>
                                            <option *ngIf="tra2 && obst" value="Camino Reflejado-Tx3" >Camino Reflejado-{{nombreEstacion[2]}}</option>
                                            <option *ngIf="tra3 && obst" value="Camino Reflejado-Tx4" >Camino Reflejado-{{nombreEstacion[3]}}</option>
                                      </select>
                                
                                
                                
                                
                                </div>   
                            <p></p>
                            
                            
<div *ngIf="recep2">
    <br>
        <button 
        type="button"
        class="btn btn-sm btn-secondary"
       data-toggle="tooltip" data-placement="top" 
       (click)="ventanaSincro2()">Mostrar</button> <br>
        <div *ngIf="chart_visible2">
            <canvas 
             baseChart height="100"
                    [datasets]="lineChartData2"
                    [options]="lineChartOptions2"
                    [colors]="lineChartColors2"
                    [legend]="lineChartLegend2"
                    [chartType]="lineChartType2"
              ></canvas>
            
            </div>
           
        </div>

        <div class="card-block">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Distancia entre cada Transmisor y el Rx2</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                    <th scope="row"></th>
                                   <td>  {{nombreEstacion[0]}}   </td>
                                    <td>{{nombreEstacion[1]}} </td>
                                    <td>{{nombreEstacion[2]}} </td>
                                    <td>{{nombreEstacion[3]}} </td>
                                </tr>
                        <tr>
                            <th scope="row"> Camino Directo </th>
                            <td><p  id="testdistTx1Rx2"></p></td>
                            <td><p id="testdistTx2Rx2"></p></td>
                            <td><p  id="testdistTx3Rx2"></p> </td>
                            <td><p  id="testdistTx4Rx2"></p> </td>
                        </tr>
                                <tr>
                                    <th scope="row">Camino Reflejado </th>
                                    <td> <p id="testTx1Rx2CR"> </p></td>
                                    <td><p id="testTx2Rx2CR"> </p></td>
                                    <td><p id="testTx3Rx2CR"></p></td>
                                    <td><p id="testTx4Rx2CR"></p></td>
                                </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-block">
            <table class="table ">
                    <thead>
                        <tr>
                            <th> Diferencia de tiempo entre cada Transmisor y el primero en llegar </th>

                        </tr>
                    </thead>
  <tbody>
        <tr>
                <th scope="row"></th>
               <td> {{nombreEstacion[0]}}   </td>
                <td>{{nombreEstacion[1]}} </td>
                <td>{{nombreEstacion[2]}} </td>
                <td>{{nombreEstacion[3]}} </td>
            </tr>
        <tr>
                <th scope="row"> Camino Directo [µs]</th>
                <td>
                 <span *ngIf="interfBooleanRx2[0] && tra0 && recep2 " style="color:red"  >{{interfTxRx2[0]}}</span>
                 <span *ngIf="!interfBooleanRx2[0] && tra0 && recep2" style="color:black"  >{{interfTxRx2[0]}}</span>
                </td>
                <td>
                 <span *ngIf="interfBooleanRx2[1] && tra1 && recep2" style="color:red"  >{{interfTxRx2[1]}}</span>
                 <span *ngIf="!interfBooleanRx2[1] && tra1 && recep2" style="color:black"  >{{interfTxRx2[1]}}</span>

                 </td>
                <td>
                 <span *ngIf="interfBooleanRx2[2] && tra2 && recep2" style="color:red"  >{{interfTxRx2[2]}}</span>
                 <span *ngIf="!interfBooleanRx2[2] && tra2 && recep2" style="color:black"  >{{interfTxRx2[2]}}</span>

                 </td>
                <td>
                 <span *ngIf="interfBooleanRx2[3] && tra3 && recep2" style="color:red"  >{{interfTxRx2[3]}}</span>
                 <span *ngIf="!interfBooleanRx2[3] && tra3 && recep2" style="color:black"  >{{interfTxRx2[3]}}</span>

                 </td>
               
            </tr>
            <tr>
                    <th scope="row"> Camino Reflejado [µs] </th>
                   <td>
                     <span *ngIf="interfBooleanRx2[4] && tra0 && recep2 && obst" style="color:red"  >{{interfTxRx2[4]}}</span>
                     <span *ngIf="!interfBooleanRx2[4] && tra0 && recep2 && obst" style="color:black"  >{{interfTxRx2[4]}}</span>
                    </td>
                    <td>
                     <span *ngIf="interfBooleanRx2[5] && tra1 && recep2 && obst" style="color:red"  >{{interfTxRx2[5]}}</span>
                     <span *ngIf="!interfBooleanRx2[5] && tra1 && recep2 && obst" style="color:black"  >{{interfTxRx2[5]}}</span>

                     </td>
                    <td>
                     <span *ngIf="interfBooleanRx2[6] && tra2 && recep2 && obst" style="color:red"  >{{interfTxRx2[6]}}</span>
                     <span *ngIf="!interfBooleanRx2[6] && tra2 && recep2 && obst" style="color:black"  >{{interfTxRx2[6]}}</span>

                     </td>
                    <td>
                     <span *ngIf="interfBooleanRx2[7] && tra3 && recep2 && obst" style="color:red"  >{{interfTxRx2[7]}}</span>
                     <span *ngIf="!interfBooleanRx2[7] && tra3 && recep2 && obst" style="color:black"  >{{interfTxRx2[7]}}</span>

                     </td>
                </tr>
  </tbody>
            </table>
            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>