<table class="table table-bordered" >
    <thead>
        <tr>
            <th><a href="codificador">
                <img src="https://image.ibb.co/b6JFp5/primero.jpg" alt="primero" border="0" align="middle">
              </a></th>
            <th><a href="multiplexor">
                <img src="https://image.ibb.co/gVhQp5/Multiplexor.jpg" alt="primero" border="0" align="middle">
              </a></th>
            <th><a href="remux">
                <img  src="https://image.ibb.co/mbOLNQ/Remux.jpg" alt="primero" border="0" align="middle">
              </a></th>
            <th><a href="modulador">
                <img src="https://image.ibb.co/ch2mwk/Modulador.jpg" alt="primero" border="0" align="middle">
              </a></th>
            <th><a href="blank-page">
                <img src="https://image.ibb.co/hXTgU5/sfn.jpg" alt="primero" border="0" align="middle">
              </a></th>
        </tr>
    </thead>
</table>

