
<body>
<div *ngIf="flujoASI1">
        <br>
  <u><P>FLUJO ASI 1</P></u>  

  Este flujo binario corresponde a la salida del Encoder 1. Esta organizado en paquetes de 188 bytes. 
  Contienen video y audio comprimidos en MPEG-4 AVC/H-264 y HE-ACC respectivamente.
  <br><br>

    <table class="table table-bordered">
    
            <thead>
                    <tr>
                            <th>PID Audio</th>
                            <th>PID Video</th>
                            <th>PID PCR</th>
                            <th>Intervalo de PCR [ms]</th>
                            <th>TS Bitrate [Mbps]</th>
                         
                        </tr>
            </thead>
            <tbody>
                    <tr>
                            <td > {{pidAudio[0]}} </td>
                            <td>{{pidVideo[0]}}</td>
                            <td>{{pidPcr[0]}} </td>
                            <td> {{asiPciInterval[0]}}</td>
                            <td>{{tsBitrate[0]}}</td>
                           
                        </tr>
                       
            </tbody>
    </table>
    </div>
    
    <div *ngIf="flujoASI2">
            <br>
       <u><P>FLUJO ASI 2</P></u> 

  Este flujo binario corresponde a la salida del Encoder 2. Esta organizado en paquetes de 188 bytes. 
  Contienen video y audio comprimidos en MPEG-4 AVC/H-264 y HE-ACC respectivamente.
  <br><br>
  
        <table class="table table-bordered">
        
                <thead>
                        <tr>
                                <th>PID Audio</th>
                                <th>PID Video</th>
                                <th>PID PCR</th>
                                <th>Intervalo de PCR [ms]</th>
                                <th>TS Bitrate [Mbps]</th>
                               
                            </tr>
                </thead>
                <tbody>
                        <tr>
                                <td > {{pidAudio[1]}} </td>
                                <td>{{pidVideo[1]}}</td>
                                <td>{{pidPcr[1]}} </td>
                                <td> {{asiPciInterval[1]}}</td>
                                <td>{{tsBitrate[1]}}</td>
                               
                            </tr>
                           
                </tbody>
        </table>
        </div>
    
        <div *ngIf="flujoASI3">
                <br>
          <u><P>FLUJO ASI 3</P></u>  

  Este flujo binario corresponde a la salida del Encoder 3. Esta organizado en paquetes de 188 bytes. 
  Contienen video y audio comprimidos en MPEG-4 AVC/H-264 y HE-ACC respectivamente.
  <br><br>
  
            <table class="table table-bordered">
            
                    <thead>
                            <tr>
                                    <th>PID Audio</th>
                                    <th>PID Video</th>
                                    <th>PID PCR</th>
                                    <th>Intervalo de PCR [ms]</th>
                                    <th>TS Bitrate [Mbps]</th>
                                  
                                </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td > {{pidAudio[2]}} </td>
                                <td>{{pidVideo[2]}}</td>
                                <td>{{pidPcr[2]}} </td>
                                <td> {{asiPciInterval[2]}}</td>
                                <td>{{tsBitrate[2]}}</td>
                             
                                </tr>
                               
                    </tbody>
            </table>
            </div>
            <div *ngIf="flujoTS">
                      <u><P>FLUJO TS MPEG-2</P></u>  

                      En el multiplexor se combinan las salidas de los 3 encoders con datos adicionales en forma de tablas
                        con información  necesaria para la transmisión. La tasa binaria del flujo TS MPEG-2 
                        es igual a la sumatoria de la tasa binaria de las tres entradas DVB-ASI.  
                            
            <br>  <br>  
                        <table class="table table-bordered">

                                        <thead>
                                                <tr>
                                                        <th>TS Bitrate [Mbps]</th>
                                                        <th>{{tsBitrateTotal}}</th>
                                                    </tr>
                                        </thead>
                                </table>                    
                    <P>Servicio 1</P>
                    <table class="table table-bordered">
                            
                                    <thead>
                                            <tr>
                                                    <th *ngIf="ASI1Enable[0]">PID Out 1</th>
                                                    <th *ngIf="ASI1Enable[1]">PID Out 2</th>
                                                    <th *ngIf="ASI1Enable[2]">PID Out 3</th>
                                                    <th *ngIf="ASI1Enable[3]">PID Out 4</th>
                                                    <th *ngIf="ASI1Enable[4]">PID Out 5</th>
                                                    <th *ngIf="ASI1Enable[5]">PID Out 6</th>
                                                    <th *ngIf="ASI1Enable[6]">PID Out 7</th>
                                                    <th *ngIf="ASI1Enable[7]">PID Out 8</th>
                                                    <th *ngIf="ASI1Enable[8]">PID Out 9</th>
                                                    <th *ngIf="ASI1Enable[9]">PID Out 10</th>
                                                </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                        <td *ngIf="ASI1Enable[0]" > {{ASI1Output[0]}} </td>
                                                        <td *ngIf="ASI1Enable[1]" > {{ASI1Output[1]}} </td>
                                                        <td *ngIf="ASI1Enable[2]" > {{ASI1Output[2]}} </td>
                                                        <td *ngIf="ASI1Enable[3]" > {{ASI1Output[3]}} </td>
                                                        <td *ngIf="ASI1Enable[4]" > {{ASI1Output[4]}} </td>
                                                        <td *ngIf="ASI1Enable[5]" > {{ASI1Output[5]}} </td>
                                                        <td *ngIf="ASI1Enable[6]" > {{ASI1Output[6]}} </td>
                                                        <td *ngIf="ASI1Enable[7]" > {{ASI1Output[7]}} </td>
                                                        <td *ngIf="ASI1Enable[8]" > {{ASI1Output[8]}} </td>
                                                        <td *ngIf="ASI1Enable[9]" > {{ASI1Output[9]}} </td>

                                                </tr>
                                               
                                    </tbody>
                            </table>
                            <P>Servicio 2</P>
                            <table class="table table-bordered">
                                    
                                            <thead>
                                                    <tr>
                                                        <th *ngIf="ASI2Enable[0]">PID Out 1</th>
                                                        <th *ngIf="ASI2Enable[1]">PID Out 2</th>
                                                        <th *ngIf="ASI2Enable[2]">PID Out 3</th>
                                                        <th *ngIf="ASI2Enable[3]">PID Out 4</th>
                                                        <th *ngIf="ASI2Enable[4]">PID Out 5</th>
                                                        <th *ngIf="ASI2Enable[5]">PID Out 6</th>
                                                        <th *ngIf="ASI2Enable[6]">PID Out 7</th>
                                                        <th *ngIf="ASI2Enable[7]">PID Out 8</th>
                                                        <th *ngIf="ASI2Enable[8]">PID Out 9</th>
                                                        <th *ngIf="ASI2Enable[9]">PID Out 10</th>
                                                        </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                                <td *ngIf="ASI2Enable[0]" > {{ASI2Output[0]}} </td>
                                                                <td *ngIf="ASI2Enable[1]" > {{ASI2Output[1]}} </td>
                                                                <td *ngIf="ASI2Enable[2]" > {{ASI2Output[2]}} </td>
                                                                <td *ngIf="ASI2Enable[3]" > {{ASI2Output[3]}} </td>
                                                                <td *ngIf="ASI2Enable[4]" > {{ASI2Output[4]}} </td>
                                                                <td *ngIf="ASI2Enable[5]" > {{ASI2Output[5]}} </td>
                                                                <td *ngIf="ASI2Enable[6]" > {{ASI2Output[6]}} </td>
                                                                <td *ngIf="ASI2Enable[7]" > {{ASI2Output[7]}} </td>
                                                                <td *ngIf="ASI2Enable[8]" > {{ASI2Output[8]}} </td>
                                                                <td *ngIf="ASI2Enable[9]" > {{ASI2Output[9]}} </td>
                                                        </tr>
                                                       
                                            </tbody>
                                    </table>   
                                    <P>Servicio 3</P>
                                    <table class="table table-bordered">
                                            
                                                    <thead>
                                                            <tr>
                                                                <th *ngIf="ASI3Enable[0]">PID Out 1</th>
                                                                <th *ngIf="ASI3Enable[1]">PID Out 2</th>
                                                                <th *ngIf="ASI3Enable[2]">PID Out 3</th>
                                                                <th *ngIf="ASI3Enable[3]">PID Out 4</th>
                                                                <th *ngIf="ASI3Enable[4]">PID Out 5</th>
                                                                <th *ngIf="ASI3Enable[5]">PID Out 6</th>
                                                                <th *ngIf="ASI3Enable[6]">PID Out 7</th>
                                                                <th *ngIf="ASI3Enable[7]">PID Out 8</th>
                                                                <th *ngIf="ASI3Enable[8]">PID Out 9</th>
                                                                <th *ngIf="ASI3Enable[9]">PID Out 10</th>
                                                                </tr>
                                                    </thead>
                                                    <tbody>
                                                            <tr>
                                                                        <td *ngIf="ASI3Enable[0]" > {{ASI3Output[0]}} </td>
                                                                        <td *ngIf="ASI3Enable[1]" > {{ASI3Output[1]}} </td>
                                                                        <td *ngIf="ASI3Enable[2]" > {{ASI3Output[2]}} </td>
                                                                        <td *ngIf="ASI3Enable[3]" > {{ASI3Output[3]}} </td>
                                                                        <td *ngIf="ASI3Enable[4]" > {{ASI3Output[4]}} </td>
                                                                        <td *ngIf="ASI3Enable[5]" > {{ASI3Output[5]}} </td>
                                                                        <td *ngIf="ASI3Enable[6]" > {{ASI3Output[6]}} </td>
                                                                        <td *ngIf="ASI3Enable[7]" > {{ASI3Output[7]}} </td>
                                                                        <td *ngIf="ASI3Enable[8]" > {{ASI3Output[8]}} </td>
                                                                        <td *ngIf="ASI3Enable[9]" > {{ASI3Output[9]}} </td>
                                                                </tr>
                                                               
                                                    </tbody>
                                            </table>  
                                            <P>Tablas</P>
                                            <table class="table table-bordered">
                                                
                                                <thead>
                                                        <tr>
                                                                <th></th>
                                                                <th *ngIf="TableEnable[0]">PAT</th>
                                                                <th *ngIf="TableEnable[1]">CAT</th>
                                                                <th *ngIf="TableEnable[2]">NIT</th>
                                                                <th *ngIf="TableEnable[3]">SDT</th>
                                                                <th *ngIf="TableEnable[4]">BIT</th>
                                                                <th *ngIf="TableEnable[5]">PMT1</th>
                                                                <th *ngIf="TableEnable[6]">PMT2</th>
                                                                <th *ngIf="TableEnable[7]">PMT3</th>
                                                            </tr>
                                                </thead>
                                                <tbody>
                                                        <tr>
                                                                    <td><b>PID</b></td>
                                                                    <td *ngIf="TableEnable[0]">0</td>
                                                                    <td *ngIf="TableEnable[1]">1</td>
                                                                    <td *ngIf="TableEnable[2]">16</td>
                                                                    <td *ngIf="TableEnable[3]">17</td>
                                                                    <td *ngIf="TableEnable[4]">36</td>
                                                                    <td *ngIf="TableEnable[5]">{{TablePmtPid[0]}}</td>
                                                                    <td *ngIf="TableEnable[6]">{{TablePmtPid[1]}}</td>
                                                                    <td *ngIf="TableEnable[7]">{{TablePmtPid[2]}}</td>
                                                        </tr>
                                                        <tr>
                                                                    <td><b>Layer</b></td>
                                                                    <td *ngIf="TableEnable[0]">{{tableLayer[0]}}</td>
                                                                    <td *ngIf="TableEnable[1]">{{tableLayer[1]}}</td>
                                                                    <td *ngIf="TableEnable[2]">{{tableLayer[2]}}</td>
                                                                    <td *ngIf="TableEnable[3]">{{tableLayer[3]}}</td>
                                                                    <td *ngIf="TableEnable[4]">{{tableLayer[4]}}</td>
                                                                    <td *ngIf="TableEnable[5]">{{tableLayer[5]}}</td>
                                                                    <td *ngIf="TableEnable[6]">{{tableLayer[6]}}</td>
                                                                    <td *ngIf="TableEnable[7]">{{tableLayer[7]}}</td>
                                                            </tr>
                                                           
                                                </tbody>
                                                                                </table>                                                                                       
                    </div>




    <div *ngIf="flujoBTS">
            <u><P>FLUJO BTS</P></u>

            Este flujo posee una tasa binaria constante de 32,5 Mbps, lo cual se logra agregando una determinada cantidad
            de paquetes nulos. A los paquetes TS se le agregan 16 bytes los cuales corresponden: 8 bytes al campo "ISDB-Info" y 
            8 bytes para incorporar un bloque de paridad Reed Solomon (opcional) para la corrección de bytes erróneos en cada TSP del 
            flujo BTS.

            <br>  <br>  

            <table class="table table-bordered">
                        
                        <thead>
                                <tr>
                                        <th></th>
                                        <th >Capa A</th>
                                        <th >Capa B</th>
                                        <th >Capa C</th>
                                    </tr>
                        </thead>
                        <tbody>
                                <tr>
                                            <td ><b>Total de TSP</b></td>
                                            <td >{{tspCapa[0]}}</td>
                                            <td >{{tspCapa[1]}}</td>
                                            <td >{{tspCapa[2]}}</td>
                                            
                                </tr>
                                <tr>
                                            <td><b>Nº de TSP nulos transportados por el BTS en un cuadro múltiplex</b></td>
                                            <td  colspan="3"  style="text-align:center;" >{{tspNulos}} + 1 Paquete IIP</td>


                                    </tr>
                                   
                        </tbody>
                                                        </table> 
            </div>
    
     
   
          <!-- Beginning of CoffeeCup Image Map -->
          
                        <div style="overflow-y:auto;">
                                        <img  src="https://image.ibb.co/koxX8k/MENU2.png"    usemap="#menu" border=0>
                                        <map  name="menu">
                                          <area shape="rect"   coords="202,26,315,119" href="codificador" (click)="SeleccionEncoder1()"  alt="" >
                                          <area shape="rect" coords="203,153,316,247" href="codificador" (click)="SeleccionEncoder2()" alt="" >
                                          <area shape="rect"  coords="202,282,315,375" href="codificador" (click)="SeleccionEncoder3()" alt="" >
                                          <area shape="rect"   coords="411,140,462,260" href="multiplexor"  alt="" >
                                          <area shape="rect" coords="591,140,641,259" href="remux"  alt="" >
                                          <area shape="rect"  coords="769,140,819,260"   href="modulador">
                                          <area shape="poly" coords="319,68,348,68,348,168,394,168,394,161,410,171,394,180,394,173,341,173,341,74,320,74,320,68"  (click)="ASI1()" alt="" >
                                          <area shape="poly" coords="318,196,394,196,394,190,411,200,394,209,394,202,320,202,320,195"(click)="ASI2()"   alt="" >
                                          <area shape="poly" coords="319,326,342,326,342,227,395,227,394,222,410,231,394,240,394,234,348,234,348,331,319,331,319,325" (click)="ASI3()"  alt="">
                                          <area shape="poly" coords="466,197,573,197,573,190,592,199,574,209,574,202,466,202,466,197" (click)="TSmethod()"alt="">
                                          <area shape="poly" coords="645,196,752,196,752,191,769,199,752,208,752,203,646,202,646,197" (click)="BTSmethod()" alt="">
                                        </map>
                
                          </div>
          
         

<!-- End of CoffeeCup Image Map -->

     


    </body>
<!-- Beginning of CoffeeCup Image Map Responsive Scripts --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="jquery.rwdImageMaps.min.js"></script>
<script>$(document).ready(function(e) {$('img[usemap]').rwdImageMaps();});</script>
<!-- End of CoffeeCup Image Map Responsive Scripts --> 
