<div class="login-page">
        <h4>CALCULADORA ISDB-Tb (Version 2.0)</h4><br>
    <div class="row">
        <div class="col-md-4 push-md-4">       
            <img src="assets/images/tapa.jpg"width="350px"  />
            <br>  <br>
                <a class="btn rounded-btn" [routerLink]="['/menu-interactivo']" (click)="onLoggedin()"> Entrar </a> <br><br>
               
        </div>
    </div>
    <p>NOTA DE LOS AUTORES: La Calculadora ISDB-Tb v2.0 es una herramienta educativa para la resolución de ejercicios en el trayecto de aprendizaje. Ayuda a programar las etapas de la planta transmisora digital y a estimar los ajustes de tiempo necesarios para el funcionamiento de las SFN. 
            No reemplaza el uso de programas profesionales en aplicaciones reales.</p>
</div>
