.card-small {

    width: 350px;
}

.underline {

    text-decoration: underline;
}

.table td {
    border: 2px solid #000;
}

.table tr {
    border: 2px solid #000;
}   

.table th {
    border: 2px solid #000;

}    


@media all and (max-width: 600px){
    select {
       width: 100%; max-width: 100%;
    }
  }
  
  .table { table-layout: fixed; border-collapse: collapse; border-spacing: 0; }

