
<!-- Resultados  -->
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header"> Codificadores </div>
            <div class="card-block">
                <ngb-tabset>
                    <ngb-tab title="Encoder 1">
                        <ng-template ngbTabContent>
                                <div class="row">
    <div class="col col-xl-6 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
                Encoder Set Up 1
            </div>
            <div class="card-block table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Video Source</th>
                            <td>
                              <select>
                                <option>SDI</option>
                                <option>HDMI</option>
                                <option>Component</option>
                                <option>Composite</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Audio Source</th>
                            <td>
                              <select>
                                <option>Analog Jacks</option>
                                <option>Channnels 1+2</option>
                                <option>Channnels 3+4</option>
                                <option>Channnels 5+6</option>
                                <option>Channnels 7+8</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Audio Codec</th>
                            <td>
                              <select>
                                <option>AAC-LC ADTS</option>
                                <option>AAC-LC LATM</option>
                                <option>PMC</option>
                                <option>AC-3 Passthru</option>
                                <option>None</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Audio Bit Rate</th>
                            <td>
                              <select>
                                <option>64 kbits</option>
                                <option>96 kbits</option>
                                <option>128 kbits</option>
                                <option>192 kbits</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Video Resolution</th>
                           <td>
                              <select>
                                <option>Follow Input</option>
                                <option>1080i (1920x1080)</option>
                                <option>1080p (1920x1080)</option>
                                <option>3/4 1080i (1440x1080)</option>
                                <option>720p (1280x720)</option>
                                <option>4/5 720p (1024x720)</option>
                                <option>16:9 PAL (1024x576)</option>
                                <option>D1 NTSC (720x480)</option>
                                <option>D1 PAL (720x576)</option>
                                <option>4-CIF (704x576)</option>
                                <option>VGA (640X480)</option>
                                <option>640X360</option>
                                <option>2-CIF (352x576)</option>
                                <option>2-SIF (352x480)</option>
                                <option>CIF (352x288)</option>
                                <option>SIF (352x240)</option>
                                <option>QVGA(320x240)</option>
                                <option>WQVGA(320x180)</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Rate Control</th>
                            <td>
                              <select>
                                <option>CBR</option>
                                <option>VBR</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Video Bit Rate</th>
                           <td>
                              <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Video Profile</th>
                           <td>
                              <select>
                                <option>Baseline</option>
                                <option>Main</option>
                                <option>High</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Gop Size</th>
                            <td>
                              <select>
                                <option>15 Frames</option>
                                <option>30 Frames</option>
                                <option>60 Frames</option>
                                <option>120 Frames</option>
                                <option>240 Frames</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Video burst size</th>
                            <td>
                              <select>
                                <option>150ms</option>
                                <option>200ms</option>
                                <option>300ms</option>
                                <option>400ms</option>
                                <option>500ms</option>
                                <option>600ms</option>
                                <option>800ms</option>
                                <option>1000ms</option>
                                <option>1200ms</option>
                                <option>1400ms</option>
                                <option>1600ms</option>
                                <option>1800ms</option>
                                <option>2000ms</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Video Codec</th>
                           <td>
                              <select>
                                <option>H.264</option>
                                <option>MPEG-2</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Frame Decimation</th>
                           <td>
                              <select>
                                <option>None</option>
                                <option>1/2</option>
                                <option>1/3</option>
                                <option>1/4</option>
                              </select>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col col-xl-6 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Output Setup</div>
            <div class="card-block table-responsive">
                <table class="table table-inverse">
                    <tbody>
                        <tr>
                            <th scope="row">Output Interface</th>
                            <td>
                               <select>
                                <option>Ethernet(VBR)</option>
                                <option>ASI</option>
                                <option>ASI + Ethernet(CBR)</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Output Format</th>
                            <td>
                               <select>
                                <option>RTP</option>
                                <option>MPEG-2 TS</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Dest IP Address</th>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Dest Port</th>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">TS Bitrate</th>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">ASI PCI Interval</th>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">PID Audio, Video, PCR</th>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">Local IP Set Up</div>
            <div class="card-block table-responsive">
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <td>Local iP Address</td>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                           
                        </tr>
                        <tr>
                            <td>Local Netmask</td>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                           
                        </tr>
                        <tr>
                            <td>Default Gateway</td>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                            
                        </tr>
                  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 
                        </ng-template>
                    </ngb-tab>  
                    <ngb-tab title="Encoder 2">
                        <ng-template ngbTabContent>
                                <div class="row">
    <div class="col col-xl-6 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
                Encoder Set Up 2
            </div>
            <div class="card-block table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Video Source</th>
                            <td>
                              <select>
                                 <option>SDI</option>
                                <option>HDMI</option>
                                <option>Component</option>
                                <option>Composite</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Audio Source</th>
                            <td>
                              <select>
                                <option>Analog Jacks</option>
                                <option>Channnels 1+2</option>
                                <option>Channnels 3+4</option>
                                <option>Channnels 5+6</option>
                                <option>Channnels 7+8</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Audio Codec</th>
                            <td>
                              <select>
                                 <option>AAC-LC ADTS</option>
                                <option>AAC-LC LATM</option>
                                <option>PMC</option>
                                <option>AC-3 Passthru</option>
                                <option>None</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Audio Bit Rate</th>
                            <td>
                              <select>
                                 <option>64 kbits</option>
                                <option>96 kbits</option>
                                <option>128 kbits</option>
                                <option>192 kbits</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Video Resolution</th>
                           <td>
                              <select>
                                <option>Follow Input</option>
                                <option>1080i (1920x1080)</option>
                                <option>1080p (1920x1080)</option>
                                <option>3/4 1080i (1440x1080)</option>
                                <option>720p (1280x720)</option>
                                <option>4/5 720p (1024x720)</option>
                                <option>16:9 PAL (1024x576)</option>
                                <option>D1 NTSC (720x480)</option>
                                <option>D1 PAL (720x576)</option>
                                <option>4-CIF (704x576)</option>
                                <option>VGA (640X480)</option>
                                <option>640X360</option>
                                <option>2-CIF (352x576)</option>
                                <option>2-SIF (352x480)</option>
                                <option>CIF (352x288)</option>
                                <option>SIF (352x240)</option>
                                <option>QVGA(320x240)</option>
                                <option>WQVGA(320x180)</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Rate Control</th>
                            <td>
                              <select>
                                <option>CBR</option>
                                <option>VBR</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Video Bit Rate</th>
                           <td>
                              <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Video Profile</th>
                           <td>
                              <select>
                                <option>Baseline</option>
                                <option>Main</option>
                                <option>High</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Gop Size</th>
                            <td>
                              <select>
                                <option>15 Frames</option>
                                <option>30 Frames</option>
                                <option>60 Frames</option>
                                <option>120 Frames</option>
                                <option>240 Frames</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Video burst size</th>
                            <td>
                              <select>
                                <option>150ms</option>
                                <option>200ms</option>
                                <option>300ms</option>
                                <option>400ms</option>
                                <option>500ms</option>
                                <option>600ms</option>
                                <option>800ms</option>
                                <option>1000ms</option>
                                <option>1200ms</option>
                                <option>1400ms</option>
                                <option>1600ms</option>
                                <option>1800ms</option>
                                <option>2000ms</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Video Codec</th>
                           <td>
                              <select>
                                <option>H.264</option>
                                <option>MPEG-2</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Frame Decimation</th>
                           <td>
                              <select>
                                 <option>None</option>
                                <option>1/2</option>
                                <option>1/3</option>
                                <option>1/4</option>
                              </select>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col col-xl-6 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Output Setup</div>
            <div class="card-block table-responsive">
                <table class="table table-inverse">
                    <tbody>
                        <tr>
                            <th scope="row">Output Interface</th>
                            <td>
                               <select>
                                <option>ASI + Ethernet(CBR)</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Output Format</th>
                            <td>
                               <select>
                                <option>MPEG-2 TS</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Dest IP Address</th>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Dest Port</th>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">TS Bitrate</th>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">ASI PCI Interval</th>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">PID Audio, Video, PCR</th>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">Local IP Set Up</div>
            <div class="card-block table-responsive">
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <td>Local iP Address</td>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                           
                        </tr>
                        <tr>
                            <td>Local Netmask</td>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                           
                        </tr>
                        <tr>
                            <td>Default Gateway</td>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                            
                        </tr>
                  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 
                        </ng-template>
                    </ngb-tab>  
                    <ngb-tab title="Encoder 3">
                        <ng-template ngbTabContent>
                                <div class="row">
    <div class="col col-xl-6 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
                Encoder Set Up 3
            </div>
            <div class="card-block table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Video Source</th>
                            <td>
                              <select>
                                 <option>SDI</option>
                                <option>HDMI</option>
                                <option>Component</option>
                                <option>Composite</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Audio Source</th>
                            <td>
                              <select>
                                <option>Analog Jacks</option>
                                <option>Channnels 1+2</option>
                                <option>Channnels 3+4</option>
                                <option>Channnels 5+6</option>
                                <option>Channnels 7+8</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Audio Codec</th>
                            <td>
                              <select>
                                 <option>AAC-LC ADTS</option>
                                <option>AAC-LC LATM</option>
                                <option>PMC</option>
                                <option>AC-3 Passthru</option>
                                <option>None</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Audio Bit Rate</th>
                            <td>
                              <select>
                                <option>64 kbits</option>
                                <option>96 kbits</option>
                                <option>128 kbits</option>
                                <option>192 kbits</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Video Resolution</th>
                           <td>
                              <select>
                                <option>Follow Input</option>
                                <option>1080i (1920x1080)</option>
                                <option>1080p (1920x1080)</option>
                                <option>3/4 1080i (1440x1080)</option>
                                <option>720p (1280x720)</option>
                                <option>4/5 720p (1024x720)</option>
                                <option>16:9 PAL (1024x576)</option>
                                <option>D1 NTSC (720x480)</option>
                                <option>D1 PAL (720x576)</option>
                                <option>4-CIF (704x576)</option>
                                <option>VGA (640X480)</option>
                                <option>640X360</option>
                                <option>2-CIF (352x576)</option>
                                <option>2-SIF (352x480)</option>
                                <option>CIF (352x288)</option>
                                <option>SIF (352x240)</option>
                                <option>QVGA(320x240)</option>
                                <option>WQVGA(320x180)</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Rate Control</th>
                            <td>
                              <select>
                               <option>CBR</option>
                                <option>VBR</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Video Bit Rate</th>
                           <td>
                              <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Video Profile</th>
                           <td>
                              <select>
                                <option>Baseline</option>
                                <option>Main</option>
                                <option>High</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Gop Size</th>
                            <td>
                              <select>
                                <option>15 Frames</option>
                                <option>30 Frames</option>
                                <option>60 Frames</option>
                                <option>120 Frames</option>
                                <option>240 Frames</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Video burst size</th>
                            <td>
                              <select>
                                <option>150ms</option>
                                <option>200ms</option>
                                <option>300ms</option>
                                <option>400ms</option>
                                <option>500ms</option>
                                <option>600ms</option>
                                <option>800ms</option>
                                <option>1000ms</option>
                                <option>1200ms</option>
                                <option>1400ms</option>
                                <option>1600ms</option>
                                <option>1800ms</option>
                                <option>2000ms</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Video Codec</th>
                           <td>
                              <select>
                                <option>H.264</option>
                                <option>MPEG-2</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Frame Decimation</th>
                           <td>
                              <select>
                                 <option>None</option>
                                <option>1/2</option>
                                <option>1/3</option>
                                <option>1/4</option>
                              </select>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col col-xl-6 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Output Setup</div>
            <div class="card-block table-responsive">
                <table class="table table-inverse">
                    <tbody>
                        <tr>
                            <th scope="row">Output Interface</th>
                            <td>
                               <select>
                                <option>ASI + Ethernet(CBR)</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Output Format</th>
                            <td>
                               <select>
                                <option>MPEG-2 TS</option>
                              </select>
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Dest IP Address</th>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">Dest Port</th>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">TS Bitrate</th>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">ASI PCI Interval</th>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                           <tr>
                            <th scope="row">PID Audio, Video, PCR</th>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">Local IP Set Up</div>
            <div class="card-block table-responsive">
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <td>Local iP Address</td>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                           
                        </tr>
                        <tr>
                            <td>Local Netmask</td>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                           
                        </tr>
                        <tr>
                            <td>Default Gateway</td>
                            <td>
                                <input type="text" class="form-control"    aria-describedby="basic-addon1">
                            </td>
                            
                        </tr>
                  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 
                        </ng-template>
                    </ngb-tab>      
                </ngb-tabset>
            </div>
        </div>
    </div>
    

