.table td {
        border: 2px solid #000;
    }

.table tr {
        border: 2px solid #000;
    }    


    @media all and (max-width: 600px){
        select {
           width: 100%; max-width: 100%;
        }
      }

      @media all and (max-width: 600px){
        card {
           width: 100%; max-width: 100%;
        }
      }

      @media (max-width: 768px) {
        .btn-responsive {
          padding:2px 4px;
          font-size:80%;
          line-height: 1;
        }
      }
      
      @media (min-width: 769px) and (max-width: 992px) {
        .btn-responsive {
          padding:4px 9px;
          font-size:90%;
          line-height: 1.2;
        }
      }