 <h4>Multiplexor</h4>
 
 <ngb-tabset>
                    <ngb-tab >
                            <ng-template ngbTabTitle> <b>ASI 1</b> </ng-template>
                        <ng-template ngbTabContent>
                                <br>
                                <button 
                                type="button"
                                 class="btn btn-sm btn-secondary"
                                 data-toggle="tooltip" data-placement="top" 
                                 (click)="updateASI1()">Aplicar Cambios ASI 1</button> <br><br>
                                <div *ngIf="duplicate1" class="alert alert-danger">
                                        <strong>No puede haber PID Out iguales</strong> 
                                    </div>
                           <table class="table" >
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>PID In</th>
                            <th>Layer Out</th>
                            <th>PID Out</th>
                            <th>Enable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td> <input type="text" class="form-control"  [(ngModel)]="ASI1Input[0]" name="ASI1Input[0]"  aria-describedby="basic-addon1"></td>
                            <td><select  [(ngModel)]="ASI1Layer[0]" name="ASI1Layer[0]" >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"   [(ngModel)]="ASI1Output[0]"  name="ASI1Output[0]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI1Enable[0]"  name="ASI1Enable[0]" id="ASI1Enable[0]"> Enable</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                              <td> <input type="text" class="form-control"   [(ngModel)]="ASI1Input[1]"  name="ASI1Input[1]"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI1Layer[1]" name="ASI1Layer[1]"  >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"   [(ngModel)]="ASI1Output[1]"  name="ASI1Output[1]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI1Enable[1]"    name="ASI1Enable[1]" id="ASI1Enable[1]"> Enable</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                           <td> <input type="text" class="form-control"  [(ngModel)]="ASI1Input[2]"  name="ASI1Input[2]"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI1Layer[2]" name="ASI1Layer[2]" >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"  [(ngModel)]="ASI1Output[2]"  name="ASI1Output[2]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI1Enable[2]"   name="ASI1Enable[2]" id="ASI1Enable[2]"> Enable</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                             <td> <input type="text" class="form-control"  [(ngModel)]="ASI1Input[3]"  name="ASI1Input[3]"   aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI1Layer[3]" name="ASI1Layer[3]"  >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"  [(ngModel)]="ASI1Output[3]"  name="ASI1Output[3]"  aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI1Enable[3]"   name="ASI1Enable[3]" id="ASI1Enable[3]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">5</th>
                            <td> <input type="text" class="form-control"   [(ngModel)]="ASI1Input[4]"  name="ASI1Input[4]"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI1Layer[4]" name="ASI1Layer[4]"  >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"   [(ngModel)]="ASI1Output[4]"  name="ASI1Output[4]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI1Enable[4]"   name="ASI1Enable[4]" id="ASI1Enable[4]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">6</th>
                              <td> <input type="text" class="form-control"   [(ngModel)]="ASI1Input[5]"  name="ASI1Input[5]" aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI1Layer[5]" name="ASI1Layer[5]"  >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"   [(ngModel)]="ASI1Output[5]"  name="ASI1Output[5]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox"  [(ngModel)]="ASI1Enable[5]"  name="ASI1Enable[5]" id="ASI1Enable[5]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">7</th>
                             <td> <input type="text" class="form-control"    [(ngModel)]="ASI1Input[6]"  name="ASI1Input[6]"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI1Layer[6]" name="ASI1Layer[6]"  >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"  [(ngModel)]="ASI1Output[6]"  name="ASI1Output[6]"    aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI1Enable[6]"   name="ASI1Enable[6]" id="ASI1Enable[6]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">8</th>
                             <td> <input type="text" class="form-control"  [(ngModel)]="ASI1Input[7]"  name="ASI1Input[7]"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI1Layer[7]" name="ASI1Layer[7]"   >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"  [(ngModel)]="ASI1Output[7]"  name="ASI1Output[7]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI1Enable[7]"   name="ASI1Enable[7]" id="ASI1Enable[7]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">9</th>
                             <td> <input type="text" class="form-control"  [(ngModel)]="ASI1Input[8]"  name="ASI1Input[8]" aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI1Layer[8]" name="ASI1Layer[8]" >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control" [(ngModel)]="ASI1Output[8]"  name="ASI1Output[8]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI1Enable[8]"   name="Enable" id="Enable"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">10</th>
                             <td> <input type="text" class="form-control"  [(ngModel)]="ASI1Input[9]"  name="ASI1Input[9]"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI1Layer[9]" name="ASI1Layer[9]" >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control" [(ngModel)]="ASI1Output[9]"  name="ASI1Output[9]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI1Enable[9]" name="ASI1Enable[9]" id="ASI1Enable[9]"> Enable</td>
                        </tr>
                    </tbody>
                </table>

                

                        </ng-template>
                    </ngb-tab>
                       <ngb-tab >
                            <ng-template ngbTabTitle> <b>ASI 2</b> </ng-template>
                        <ng-template ngbTabContent>
                                <br>
                                <button 
                                type="button"
                                 class="btn btn-sm btn-secondary"
                                 data-toggle="tooltip" data-placement="top"
                                 (click)="updateASI2()">Aplicar Cambios ASI 2</button> <br><br>
                                <div *ngIf="duplicate2" class="alert alert-danger">
                                        <strong>No puede haber PID Out iguales</strong> 
                                    </div>
                                                  <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>PID In</th>
                            <th>Layer Out</th>
                            <th>PID Out</th>
                            <th>Enable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td> <input type="text" class="form-control"  [(ngModel)]="ASI2Input[0]" name="ASI2Input[0]"   aria-describedby="basic-addon1"></td>
                            <td><select  [(ngModel)]="ASI2Layer[0]" name="ASI2Layer[0]"  >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"   [(ngModel)]="ASI2Output[0]"  name="ASI2Output[0]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI2Enable[0]"  name="ASI2Enable[0]" id="ASI2Enable[0]"> Enable</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                              <td> <input type="text" class="form-control"   [(ngModel)]="ASI2Input[1]"  name="ASI2Input[1]"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI2Layer[1]" name="ASI2Layer[1]"  >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"   [(ngModel)]="ASI2Output[1]"  name="ASI2Output[1]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI2Enable[1]"  name="ASI2Enable[1]" id="ASI2Enable[1]"> Enable</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                           <td> <input type="text" class="form-control"  [(ngModel)]="ASI2Input[2]"  name="ASI2Input[2]"   aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI2Layer[2]" name="ASI2Layer[2]"  >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"  [(ngModel)]="ASI2Output[2]"  name="ASI2Output[2]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI2Enable[2]"  name="ASI2Enable[2]" id="ASI2Enable[2]"> Enable</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                             <td> <input type="text" class="form-control"  [(ngModel)]="ASI2Input[3]"  name="ASI2Input[3]"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI2Layer[3]" name="ASI2Layer[3]"  >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"  [(ngModel)]="ASI2Output[3]"  name="ASI2Output[3]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox"  [(ngModel)]="ASI2Enable[3]" name="ASI2Enable[3]" id="ASI2Enable[3]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">5</th>
                            <td> <input type="text" class="form-control"   [(ngModel)]="ASI2Input[4]"  name="ASI2Input[4]"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI2Layer[4]" name="ASI2Layer[4]" >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"   [(ngModel)]="ASI2Output[4]"  name="ASI2Output[4]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI2Enable[4]"  name="ASI2Enable[4]" id="ASI2Enable[4]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">6</th>
                              <td> <input type="text" class="form-control"   [(ngModel)]="ASI2Input[5]"  name="ASI2Input[5]" aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI2Layer[5]" name="ASI2Layer[5]">
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"   [(ngModel)]="ASI2Output[5]"  name="ASI2Output[5]"  aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI2Enable[5]"  name="ASI2Enable[5]" id="ASI2Enable[5]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">7</th>
                             <td> <input type="text" class="form-control"    [(ngModel)]="ASI2Input[6]"  name="ASI2Input[6]" aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI2Layer[6]" name="ASI2Layer[6]"  >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"  [(ngModel)]="ASI2Output[6]"  name="ASI2Output[6]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox"  [(ngModel)]="ASI2Enable[6]" name="ASI2Enable[6]" id="ASI2Enable[6]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">8</th>
                             <td> <input type="text" class="form-control"  [(ngModel)]="ASI2Input[7]"  name="ASI2Input[7]" aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI2Layer[7]" name="ASI2Layer[7]" >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"  [(ngModel)]="ASI2Output[7]"  name="ASI2Output[7]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI2Enable[7]"  name="ASI2Enable[7]" id="ASI2Enable[7]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">9</th>
                             <td> <input type="text" class="form-control"  [(ngModel)]="ASI2Input[8]"  name="ASI2Input[8]"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI2Layer[8]" name="ASI2Layer[8]" >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control" [(ngModel)]="ASI2Output[8]"  name="ASI2Output[8]"  aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI2Enable[8]"  name="ASI2Enable[8]" id="ASI2Enable[8]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">10</th>
                             <td> <input type="text" class="form-control"  [(ngModel)]="ASI2Input[9]"  name="ASI2Input[9]"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI2Layer[9]" name="ASI2Layer[9]" >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control" [(ngModel)]="ASI2Output[9]"  name="ASI2Output[9]" aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI2Enable[9]"  name="ASI2Enable[9]" id="ASI2Enable[9]"> Enable</td>
                        </tr>
                    </tbody>
                </table>   
               
                        </ng-template>
                    </ngb-tab>
                       <ngb-tab >
                            <ng-template ngbTabTitle> <b>ASI 3</b> </ng-template>
                        <ng-template ngbTabContent>
                                <br>
                                <button 
                                type="button"
                                 class="btn btn-sm btn-secondary"
                                 data-toggle="tooltip" data-placement="top" 
                                 (click)="updateASI3()">Aplicar Cambios ASI 3</button> <br><br>
                                 <div *ngIf="duplicate3" class="alert alert-danger">
                                        <strong>No puede haber PID Out iguales</strong> 
                                    </div>
                                                   <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>PID In</th>
                            <th>Layer Out</th>
                            <th>PID Out</th>
                            <th>Enable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td> <input type="text" class="form-control"  [(ngModel)]="ASI3Input[0]" name="ASI3Input[0]"  aria-describedby="basic-addon1"></td>
                            <td><select  [(ngModel)]="ASI3Layer[0]" name="ASI3Layer[0]"  >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"   [(ngModel)]="ASI3Output[0]"  name="ASI3Output[0]" aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox"  [(ngModel)]="ASI3Enable[0]" name="ASI3Enable[0]" id="ASI3Enable[0]"> Enable</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                              <td> <input type="text" class="form-control"   [(ngModel)]="ASI3Input[1]"  name="ASI3Input[1]"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI3Layer[1]" name="ASI3Layer[1]"  >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"   [(ngModel)]="ASI3Output[1]"  name="ASI3Output[1]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI3Enable[1]"  name="ASI3Enable[1]" id="ASI3Enable[1]"> Enable</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                           <td> <input type="text" class="form-control"  [(ngModel)]="ASI3Input[2]"  name="ASI3Input[2]"   aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI3Layer[2]" name="ASI3Layer[2]" >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"  [(ngModel)]="ASI3Output[2]"  name="ASI3Output[2]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox"  [(ngModel)]="ASI3Enable[2]" name="ASI3Enable[2]" id="ASI3Enable[2]"> Enable</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                             <td> <input type="text" class="form-control"  [(ngModel)]="ASI3Input[3]"  name="ASI3Input[3]"   aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI3Layer[3]" name="ASI3Layer[3]"  >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"  [(ngModel)]="ASI3Output[3]"  name="ASI3Output[3]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox"  [(ngModel)]="ASI3Enable[3]" name="ASI3Enable[3]" id="ASI3Enable[3]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">5</th>
                            <td> <input type="text" class="form-control"   [(ngModel)]="ASI3Input[4]"  name="ASI3Input[4]"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI3Layer[4]" name="ASI3Layer[4]" >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"   [(ngModel)]="ASI3Output[4]"  name="ASI3Output[4]"  aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox"  [(ngModel)]="ASI3Enable[4]" name="ASI3Enable[4]" id="ASI3Enable[4]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">6</th>
                              <td> <input type="text" class="form-control"   [(ngModel)]="ASI3Input[5]"  name="ASI3Input[5]" aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI3Layer[5]" name="ASI3Layer[5]"  >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"   [(ngModel)]="ASI3Output[5]"  name="ASI3Output[5]"  aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI3Enable[5]"  name="ASI3Enable[5]" id="ASI3Enable[5]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">7</th>
                             <td> <input type="text" class="form-control"    [(ngModel)]="ASI3Input[6]"  name="ASI3Input[6]" aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI3Layer[6]" name="ASI3Layer[6]"  >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"  [(ngModel)]="ASI3Output[6]"  name="ASI3Output[6]"   aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox"  [(ngModel)]="ASI3Enable[6]" name="ASI3Enable[6]" id="ASI3Enable[6]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">8</th>
                             <td> <input type="text" class="form-control"  [(ngModel)]="ASI3Input[7]"  name="ASI3Input[7]"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI3Layer[7]" name="ASI3Layer[7]"  >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control"  [(ngModel)]="ASI3Output[7]"  name="ASI3Output[7]"    aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI3Enable[7]"  name="ASI3Enable[7]" id="ASI3Enable[7]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">9</th>
                             <td> <input type="text" class="form-control"  [(ngModel)]="ASI3Input[8]"  name="ASI3Input[8]"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI3Layer[8]" name="ASI3Layer[8]" >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control" [(ngModel)]="ASI3Output[8]"  name="ASI3Output[8]"  aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox"  [(ngModel)]="ASI3Enable[8]" name="ASI3Enable[8]" id="ASI3Enable[8]"> Enable</td>
                        </tr>
                           <tr>
                            <th scope="row">10</th>
                             <td> <input type="text" class="form-control"  [(ngModel)]="ASI3Input[9]"  name="ASI3Input[9]"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="ASI3Layer[9]" name="ASI3Layer[9]" >
                                <option value="Layer A">Layer A</option>
                                <option value="Layer B">Layer B</option>
                                <option value="Layer C">Layer C</option>
                              </select></td>
                            <td> <input type="text" class="form-control" [(ngModel)]="ASI3Output[9]"  name="ASI3Output[9]"  aria-describedby="basic-addon1"></td>
                            <td><input type="checkbox" [(ngModel)]="ASI3Enable[9]"  name="ASI3Enable[9]" id="ASI3Enable[9]"> Enable</td>
                        </tr>
                    </tbody>                
                </table>
              
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab >
                            <ng-template ngbTabTitle> <b>Tables</b> </ng-template>
                            <ng-template ngbTabContent>
                                <br>
                                    <button 
                                    type="button"
                                     class="btn btn-sm btn-secondary"
                                     data-toggle="tooltip" data-placement="top"
                                     (click)="updateTables()">Aplicar Cambios Tablas</button> <br><br>
                                    <div *ngIf="duplicate4" class="alert alert-danger">
                                            <strong>No puede haber PID iguales</strong> 
                                        </div>
                                    <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Table</th>
                                                    <th>PID</th>
                                                    <th>Layer</th>
                                                    <th>Enable</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td> <p>PAT</p></td>
                                                    <td><p>0</p></td>
                                                    <td><select   [(ngModel)]="TableLayer[0]" name="TableLayer[0]"   >
                                                        <option value="Layer A">Layer A</option>
                                                        <option value="Layer B">Layer B</option>
                                                        <option value="Layer C">Layer C</option>
                                                      </select></td>    
                                                    <td><input type="checkbox" [(ngModel)]="TableEnable[0]"  name="TableEnable[0]" id="TableEnable[0]" > Enable</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td> <p>CAT</p></td>
                                                    <td><p>1</p></td>
                                                    <td><select  [(ngModel)]="TableLayer[1]" name="TableLayer[1]"    >
                                                        <option value="Layer A">Layer A</option>
                                                        <option value="Layer B">Layer B</option>
                                                        <option value="Layer C">Layer C</option>
                                                      </select></td>    
                                                    <td><input type="checkbox"  [(ngModel)]="TableEnable[1]"  name="TableEnable[1]" id="TableEnable[1]" > Enable</td>
                                              </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td> <p>NIT</p></td>
                                                    <td><p>16</p></td>
                                                    <td><select   [(ngModel)]="TableLayer[2]" name="TableLayer[2]"  >
                                                        <option value="Layer A">Layer A</option>
                                                        <option value="Layer B">Layer B</option>
                                                        <option value="Layer C">Layer C</option>
                                                      </select></td>    
                                                    <td><input type="checkbox"  [(ngModel)]="TableEnable[2]"  name="TableEnable[2]" id="TableEnable[2]" > Enable</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">4</th>
                                                    <td> <p>SDT</p></td>
                                                    <td><p>17</p></td>
                                                    <td><select  [(ngModel)]="TableLayer[3]" name="TableLayer[3]" >
                                                        <option value="Layer A">Layer A</option>
                                                        <option value="Layer B">Layer B</option>
                                                        <option value="Layer C">Layer C</option>
                                                      </select></td>    
                                                    <td><input type="checkbox"   [(ngModel)]="TableEnable[3]"  name="TableEnable[3]" id="TableEnable[3]" > Enable</td>
                                                
                                                </tr>
                                                   <tr>
                                                    <th scope="row">5</th>
                                                    <td> <p>BIT</p></td>
                                                    <td><p>36</p></td>
                                                    <td><select   [(ngModel)]="TableLayer[4]" name="TableLayer[4]"  >
                                                        <option value="Layer A">Layer A</option>
                                                        <option value="Layer B">Layer B</option>
                                                        <option value="Layer C">Layer C</option>
                                                      </select></td>    
                                                    <td><input type="checkbox"   [(ngModel)]="TableEnable[4]"  name="TableEnable[4]" id="TableEnable[4]" > Enable</td>
                                                </tr>                                    
                                                   <tr>
                                                    <th scope="row">6</th>
                                                    <td> <p>PMT1</p></td>
                                                    <td> <input type="text" [(ngModel)]="TablePmtPid[0]"  name="TablePmtPid[0]" class="form-control" aria-describedby="basic-addon1"></td>
                                                    <td><select  [(ngModel)]="TableLayer[5]" name="TableLayer[5]"   >
                                                        <option value="Layer A">Layer A</option>
                                                        <option value="Layer B">Layer B</option>
                                                        <option value="Layer C">Layer C</option>
                                                      </select></td>    
                                                    <td><input type="checkbox"   [(ngModel)]="TableEnable[5]"  name="TableEnable[5]" id="TableEnable[5]" > Enable</td>
                                                </tr>
                                                   <tr>
                                                    <th scope="row">7</th>
                                                    <td> <p>PMT2</p></td>
                                                    <td> <input type="text" [(ngModel)]="TablePmtPid[1]"  name="TablePmtPid[1]" class="form-control"  aria-describedby="basic-addon1"></td>
                                                    <td><select   [(ngModel)]="TableLayer[6]" name="TableLayer[6]"   >
                                                        <option value="Layer A">Layer A</option>
                                                        <option value="Layer B">Layer B</option>
                                                        <option value="Layer C">Layer C</option>
                                                      </select></td>    
                                                    <td><input type="checkbox"  [(ngModel)]="TableEnable[6]"  name="TableEnable[6]" id="TableEnable[6]" > Enable</td>
                                                </tr>
                                                   <tr>
                                                    <th scope="row">8</th>
                                                    <td> <p>PMT3</p></td>
                                                    <td> <input type="text" [(ngModel)]="TablePmtPid[2]"  name="TablePmtPid[2]" class="form-control" aria-describedby="basic-addon1"></td>
                                                    <td><select  [(ngModel)]="TableLayer[7]" name="TableLayer[7]"  >
                                                        <option value="Layer A">Layer A</option>
                                                        <option value="Layer B">Layer B</option>
                                                        <option value="Layer C">Layer C</option>
                                                      </select></td>    
                                                    <td><input type="checkbox"  [(ngModel)]="TableEnable[7]"  name="TableEnable[7]" id="TableEnable[7]" > Enable</td>
                                                </tr>
                                                     
                                            </tbody>                
                                        </table>
                            </ng-template>
                    </ngb-tab>
 </ngb-tabset>