.table td {
    border: 2px solid #000;
}

.table tr {
    border: 2px solid #000;
}   

.table th {
    border: 2px solid #000;
}    



@media all and (max-width: 600px){
    select {
       width: 100%; max-width: 100%;
    }
  }

  select {
    max-width: 100%;
    text-overflow: ellipsis;
  }

