<!-- Resultados  -->
<div class="row">
  <div class="col">
      <div class="card">
          <div class="card-header"> Moduladores </div>
          <div class="card-block">
              <ngb-tabset>
                  <ngb-tab title="Modulador 1">
                      <ng-template ngbTabContent>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">ID</th>
                                        <td>
                                            <input type="text" [(ngModel)]="idModuladores[0]" (change)="mod1()"class="form-control"  aria-describedby="basic-addon1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Retardo BTS [μs]</th>
                                        <td>
                                            <input type="text" class="form-control"  aria-describedby="basic-addon1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Retardo de Transmisor [μs]</th>
                                        <td>
                                            <input type="text" class="form-control"  aria-describedby="basic-addon1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Configuracion</th>
                                       <td>
                                          <select >
                                              <option value="BTS">BTS</option>
                                            <option disabled value="Local">Local</option>

                                          </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                      </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Modulador 2">
                      <ng-template ngbTabContent>
                          <table class="table">
                              <tbody>
                                  <tr>
                                      <th scope="row">ID</th>
                                      <td>
                                          <input type="text" [(ngModel)]="idModuladores[1]"   (change)="mod2()"class="form-control"  aria-describedby="basic-addon1">
                                      </td>
                                  </tr>
                                  
                                        <tr>
                                                <th scope="row">Retardo BTS [μs]</th>
                                                <td>
                                                    <input type="text" class="form-control"  aria-describedby="basic-addon1">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Retardo de Transmisor [μs]</th>
                                                <td>
                                                    <input type="text" class="form-control"  aria-describedby="basic-addon1">
                                                </td>
                                            </tr>
                                            <tr>
                                      <th scope="row">Configuracion</th>
                                     <td>
                                        <select >
                                            <option value="BTS">BTS</option>
                                          <option disabled value="Local">Local</option>

                                        </select>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>                        
                      </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Modulador 3">
                      <ng-template ngbTabContent>
                          <table class="table">
                              <tbody>
                                  <tr>
                                      <th scope="row">ID</th>
                                      <td>
                                          <input type="text" [(ngModel)]="idModuladores[2]" (change)="mod3()" class="form-control"  aria-describedby="basic-addon1">
                                      </td>
                                  </tr>
                                  
                                        <tr>
                                                <th scope="row">Retardo BTS [μs]</th>
                                                <td>
                                                    <input type="text" class="form-control"  aria-describedby="basic-addon1">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Retardo de Transmisor [μs]</th>
                                                <td>
                                                    <input type="text" class="form-control"  aria-describedby="basic-addon1">
                                                </td>
                                            </tr>
                                            <tr>
                                      <th scope="row">Configuracion</th>
                                     <td>
                                        <select >
                                            <option value="BTS">BTS</option>
                                          <option disabled value="Local">Local</option>

                                        </select>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>                        
                      </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Modulador 4">
                      <ng-template ngbTabContent>
                          <table class="table">
                              <tbody>
                                  <tr>
                                      <th scope="row">ID</th>
                                      <td>
                                          <input type="text" [(ngModel)]="idModuladores[3]"  (change)="mod4()" class="form-control"  aria-describedby="basic-addon1">
                                      </td>
                                  </tr>
                                  <tr>
                                        <th scope="row">Retardo BTS [μs]</th>
                                        <td>
                                            <input type="text" class="form-control"  aria-describedby="basic-addon1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Retardo de Transmisor [μs]</th>
                                        <td>
                                            <input type="text" class="form-control"  aria-describedby="basic-addon1">
                                        </td>
                                    </tr>
                                  <tr>
                                      <th scope="row">Configuracion</th>
                                     <td>
                                        <select >
                                            <option value="BTS">BTS</option>
                                          <option disabled value="Local">Local</option>

                                        </select>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>                        
                      </ng-template>
                  </ngb-tab>
              </ngb-tabset>
          </div>
      </div>
  </div>
</div>
