.card-small {

    width: 350px;
}

.underline {

    text-decoration: underline;
}

.table td {
    border: 2px solid #000;
}

.table tr {
    border: 2px solid #000;
}   

.table th {
    border: 2px solid #000;
}    



