
    
    <div class="card-body">
      <h4 style="text-align: left;" class="card-title"><b>Calculadora ISDB-Tb V2.0</b></h4>
      <p>Complemento del Libro </p>
      <img src="assets/images/tapa.jpg"width="350px"  /><br><br>
      <p style="text-align: left;" class="card-text">Transmisión de Televisión Digital Terrestre en la Norma ISDB-Tb -  <br/>
        Tratado fundamental para Estudiantes Avanzados, Técnicos y Profesionales <br> <br>
      </p> 
      <p><b>Autores:</b ></p>
        <p style="text-align: left;">Ing. Néstor Oscar Pisciotta<br>Ing. Carlos Guillermo Liendo<br>
            Ing. Roberto Carlos Lauro </p>
            <p style="text-align: left;"><b>Desarrollo del software:</b></p>
            <p style="text-align: left;">Versión 2.0: Ing. Maximiliano Fried<br>Versión 1.0: Ing. Nicolás Liendo</p>
            <p style="text-align: left;"><b>Consultas:</b><br> clientes.conosur@cenegage.com</p>
            <p style="text-align: left;"><b>Editorial Cengage Learning</b><br> <img  src="assets/images/cenegage.jpg" width="150px" /><br> http://www.cengage.com<br>ISBN: 978-987-1954-08-7</p>
            <p style="text-align: left;"><b>Empresas auspiciantes:
            </b><br> <img  src="assets/images/lie.jpg" width="150px" /><br> http://www.liecom.com<br> <br>  <img  src="assets/images/edinec.jpg" width="150px" /><br>http://www.edinec.com.ar <br><br>
            <img  src="assets/images/consulfem.jpg" width="150px" /> <br>http://www.consulfem.com </p> 
            <p style="text-align: left;"><b>Agradecimiento a las empresas:</b><br>VIDEOSWITCH<br>http://www.videoswitch.tv<br><br>HITACHI-LINEAR <br>http://www.hitachi-linear.com.br</p>
    </div>
 

    
    

  