<div style="width: 20rem; margin:0 auto; "class="card text" >
    
    <div class="card-body">
      <h4 style="text-align: center;" class="card-title"><b>Calculadora ISDB-Tb V2.0</b></h4>
      <p style="text-align: center;" class="card-text">Transmisión de Televisión Digital Terrestre en la Norma ISDB-Tb -  <br/>
        Tratado fundamental para Estudiantes Avanzados, Técnicos y Profesionales <br> <br>
      </p> 
      <p>ISBN: 978-987-1954-08-7</p>
      <p><b>Autores:</b ></p>
        <p style="text-align: left;">Ing. Néstor Oscar Pisciotta<br>Ing. Carlos Guillermo Liendo<br>
            Ing. Roberto Carlos Lauro </p>
            <p style="text-align: left;"><b>Desarrollo del software:</b></p>
            <p style="text-align: left;">Ing. Fried Maximiliano -  V2.0<br>Ing. Nicolás Liendo - V1.0</p>
            <p style="text-align: left;"><b>Consultas:</b><br> clientes.conosur@cenegage.com</p>
    </div>
    <img  src="assets/images/edinec.jpg" width="150px" />
    <img  src="assets/images/lie.jpg" width="150px" />
    <img  src="assets/images/consulfem.jpg" width="150px" />
    <img  src="assets/images/cenegage.jpg" width="150px" />
  </div>

  