agm-map {
  height: 600px;
}


#tra0  {
  width: auto;
}

#tra1  {
  width: auto;
}
#tra2  {
  width: auto;
}
#tra3  {
  width: auto;
}

#recep  {
  width: auto;
}

#recep2  {
  width: auto;
}
#obst {
  width: auto;
}
.table tr {
  border: 1px solid #000;
}   

.table td {
  border: 1px solid #000;

}   

.table th {
  border: 1px solid #000;

}   


@media all and (max-width: 600px){
  input {
     width: 100%; max-width: 100%;
  }
}

@media all and (max-width: 600px){
  select {
     width: 100%; max-width: 100%;
  }
}

  #booleanRetardoTx1 {
     width:auto;}

     #booleanRetardoTx2{
      width:auto;}

     #booleanRetardoTx3{
      width:auto;}

     #booleanRetardoTx4{
      width:auto;}