
<h4>RED DE FRECUENCIA UNICA</h4>
<div>
    <agm-map
    [latitude]="lat" 
    [longitude]="lng"
    [zoom]="zoom">
                    <div *ngIf="tra0" >
                    <agm-marker
                    [latitude]="markers[0].lati" 
                    [longitude]="markers[0].longi"
                    [markerDraggable]="markers[0].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[0], $event)">
                    <agm-info-window>{{markers[0].nombre}}</agm-info-window>
                    </agm-marker>
                    </div>

                    <div *ngIf="tra1" >
                    <agm-marker  
                    [latitude]="markers[1].lati" 
                    [longitude]="markers[1].longi"
                    [markerDraggable]="markers[1].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[1], $event)">
                    <agm-info-window>{{markers[1].nombre}}</agm-info-window>
                    </agm-marker>
                    </div>

                    <div *ngIf="recep" >
                    <agm-marker  
                     [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'"
                    [latitude]="markers[2].lati" 
                    [longitude]="markers[2].longi"
                    [markerDraggable]="markers[2].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[2], $event)">
                    <agm-info-window>{{markers[2].nombre}}</agm-info-window>
                    </agm-marker>
                    </div>

                   
                 <div *ngIf="obst" >
                    <agm-marker  
                     [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/green-dot.png'"
                    [latitude]="markers[3].lati" 
                    [longitude]="markers[3].longi"
                    [markerDraggable]="markers[3].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[3], $event)">
                    <agm-info-window>{{markers[3].nombre}}</agm-info-window>
                    </agm-marker>
                    </div>
                    <div *ngIf="tra2" >
                    <agm-marker  
                    [latitude]="markers[4].lati" 
                    [longitude]="markers[4].longi"
                    [markerDraggable]="markers[4].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[4], $event)">
                    <agm-info-window>{{markers[4].nombre}}</agm-info-window>
                    </agm-marker>
                    </div>

                     <div *ngIf="tra3" >
                    <agm-marker  
                    [latitude]="markers[5].lati" 
                    [longitude]="markers[5].longi"
                    [markerDraggable]="markers[5].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[5], $event)">
                    <agm-info-window>{{markers[5].nombre}}</agm-info-window>
                    </agm-marker>
                    </div>
                  <div *ngIf="recep2" >
                    <agm-marker  
                     [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'"
                    [latitude]="markers[6].lati" 
                    [longitude]="markers[6].longi"
                    [markerDraggable]="markers[6].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[6], $event)">
                    <agm-info-window>{{markers[6].nombre}}</agm-info-window>
                    </agm-marker>
                    </div>
    </agm-map>
</div>

<!-- Resultados  -->
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header"> </div>
            <div class="card-block">
                <ngb-tabset>
                    <ngb-tab title="Selector">
                        <ng-template ngbTabContent>
                            <br>
                            <div class="alert alert-warning" role="alert"> 
  <strong>Atencion!</strong> Ingresar latitud y longitud entre 10 y 18 digitos, utilizando "." y sin espacios. 
</div>

                                  <table class="table table-inverse">
                    <tbody>
                        <tr>
                          <form (ngSubmit)="uploadTx1()" #frmTx1="ngForm" >
                            <th scope="row"><input type="checkbox" [(ngModel)]="tra0"   name="tra0" id="tra0"> Tx 1</th>
                            <td> <input [(ngModel)]="newLatTx1"  placeholder="Latitud" name="newLatTx1" id="newLatTx1" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"  /> </td>
                            <td> <input [(ngModel)]="newLongTx1"  placeholder="Longitud" name="newLongTx1" id="newLongTx1" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td><button [disabled]=!frmTx1.valid type="submit" class="btn btn-sm btn-secondary" > Actualizar </button></td>
                            <td> {{mostLati}}</td>
                            <td>{{ mostLongi}}</td>
                            </form >
                        </tr>
                        <tr>
                          <form (ngSubmit)="uploadTx2()" #frmTx2="ngForm"> 
                            <th scope="row"> <input type="checkbox" [(ngModel)]="tra1"    name="tra1" id="tra1"> Tx 2 </th>
                            <td> <input [(ngModel)]="newLatTx2"  placeholder="Latitud" name="newLatTx2" id="newLatTx2" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td> <input [(ngModel)]="newLongTx2"  placeholder="Longitud" name="newLongTx2" id="newLongTx2" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td> <button  [disabled]=!frmTx2.valid type="submit" class="btn btn-sm btn-secondary" > Actualizar </button></td>
                            <td>{{mostLati1}}</td>
                            <td>{{mostLongi1}}</td>
                            </form>
                        </tr>
                        <tr>
                             <form (ngSubmit)="uploadTx3()" #frmTx3="ngForm">
                            <th scope="row"> <input type="checkbox" [(ngModel)]="tra2"    name="tra2" id="tra2"> Tx 3</th>
                            <td> <input [(ngModel)]="newLatTx3"  placeholder="Latitud" name="newLatTx3" id="newLatTx3" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td> <input [(ngModel)]="newLongTx3"  placeholder="Longitud" name="newLongTx3" id="newLongTx3" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td><button  [disabled]=!frmTx3.valid type="submit" class="btn btn-sm btn-secondary" > Actualizar </button></td>
                            <td>{{mostLati4}}</td>
                            <td>{{mostLongi4}}</td>
                             </form>
                           <form (ngSubmit)="uploadTx4()" #frmTx4="ngForm">
                            <th scope="row"> <input type="checkbox" [(ngModel)]="tra3"    name="tra3" id="tra3"> Tx 4</th>
                            <td> <input [(ngModel)]="newLatTx4"  placeholder="Latitud" name="newLatTx4" id="newLatTx4" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td> <input [(ngModel)]="newLongTx4"  placeholder="Longitud" name="newLongTx4" id="newLongTx4" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td><button  [disabled]=!frmTx4.valid type="submit" class="btn btn-sm btn-secondary" > Actualizar </button></td>
                            <td>{{mostLati5}}</td>
                            <td>{{mostLongi5}}</td>
                             </form>
                        </tr>
                             <tr>
                              <form (ngSubmit)="uploadRx()" #frmRx="ngForm">
                            <th scope="row"> <input type="checkbox" [(ngModel)]="recep"   name="recep" id="recep"> Rx 1</th>
                            <td> <input [(ngModel)]="newLatRx"  placeholder="Latitud" name="newLatRx" id="newLatRx" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td>  <input [(ngModel)]="newLongRx"  placeholder="Longitud" name="newLongRx" id="newLongRx" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td><button [disabled]=!frmRx.valid type="submit" class="btn btn-sm btn-secondary"> Actualizar </button></td>
                            <td>{{mostLati2}}</td>
                            <td>{{mostLongi2}}</td>
                             </form>
                        </tr>
                             <tr>
                              <form (ngSubmit)="uploadRx2()" #frmRx2="ngForm">
                            <th scope="row"> <input type="checkbox" [(ngModel)]="recep2"   name="recep2" id="recep2"> Rx 2</th>
                            <td> <input [(ngModel)]="newLatRx2"  placeholder="Latitud" name="newLatRx2" id="newLatRx2" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td>  <input [(ngModel)]="newLongRx2"  placeholder="Longitud" name="newLongRx2" id="newLongRx2" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td><button [disabled]=!frmRx2.valid type="submit" class="btn btn-sm btn-secondary"> Actualizar </button></td>
                            <td>{{mostLati6}}</td>
                            <td>{{mostLongi6}}</td>
                             </form>
                        </tr>
                             <tr>
                             <form (ngSubmit)="uploadOb()" #frmOb="ngForm" >
                            <th scope="row"> <input type="checkbox" [(ngModel)]="obst"  name="obst" id="obst" >Obst</th>
                            <td> <input [(ngModel)]="newLatOb"  placeholder="Latitud" name="newLatOb" id="newLatOb" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td>  <input [(ngModel)]="newLongOb"  placeholder="Longitud" name="newLongOb" id="newLongOb" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td> <button  [disabled]=!frmTx4.valid type="submit" class="btn btn-sm btn-secondary" > Actualizar </button></td>
                            <td>{{mostLati3}}</td>
                            <td>{{mostLongi3}}</td>
                             </form>
                        </tr>
                    </tbody>
                </table> <br>
                
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Retardos">
                        <ng-template ngbTabContent>
                            <div class="card-block table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Static Parameters</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         <tbody>
                         <tr>
                            <th scope="row">Maximun Delay: (x100 ns)</th>
                            <td> <input type="text" class="form-control" [(ngModel)]="retardoRed"   aria-describedby="basic-addon1"> </td>
                        </tr>
                                    </tbody>
                                </table> <br>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Stations Parameters</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Equipment ID</th>
                                            <th>Time-Offset (x100 ns)</th>
                                            <th>Polarity</th>
                                            <th>Dynamic-Static</th>
                                            <th>Enable</th>
                                        </tr>
                                    </thead>
                    <tbody>
                         <tr>
                            <th scope="row">Tx 1</th>
                            <td> <input type="text" class="form-control"  title="equipmentIdTx1"   aria-describedby="basic-addon1"> </td>
                            <td><input type="text" class="form-control" [(ngModel)]="retardos[0]" title="timeOffsetTx1"  aria-describedby="basic-addon1"> </td>
                            <td> <select (change)="cambio($event.target.value, 'Tx1')">
                                <option>Positive</option>
                                <option>Negative</option>
                              </select>
                        </td>
                            <td><select [disabled]="negativeOn1">
                                <option >Dynamic</option>
                                <option *ngIf="!negativeOn1">Static</option>
                              </select></td>
                            <td><input type="checkbox"  name="Enable" id="Enable" ></td>
                        </tr>
                         <tr>
                            <th scope="row">Tx 2</th>
                            <td> <input type="text" class="form-control"  title="equipmentIdTx2"    aria-describedby="basic-addon1"> </td>
                            <td> <input type="text" class="form-control"  [(ngModel)]="retardos[1]" title="timeOffsetTx2"   aria-describedby="basic-addon1"></td>
                            <td><select (change)="cambio($event.target.value, 'Tx2')">
                                <option>Positive</option>
                                <option>Negative</option>
                              </select></td>
                            <td><select [disabled]="negativeOn2">
                                <option>Dynamic</option>
                                <option *ngIf="!negativeOn2">Static</option>
                              </select></td>
                            <td><input type="checkbox"    name="Enable" id="Enable" ></td>
                            
                        </tr>
                         <tr>
                            <th scope="row">Tx 3</th>
                            <td><input type="text" class="form-control"  title="equipmentIdTx3"    aria-describedby="basic-addon1"> </td>
                            <td><input type="text" class="form-control" [(ngModel)]="retardos[2]" title="timeOffsetTx3"   aria-describedby="basic-addon1"> </td>
                            <td><select (change)="cambio($event.target.value, 'Tx3')">
                                <option>Positive</option>
                                <option>Negative</option>
                              </select></td>
                            <td><select [disabled]="negativeOn3">
                                <option>Dynamic</option>
                                <option *ngIf="!negativeOn3" >Static</option>
                              </select></td>
                            <td><input type="checkbox"    name="Enable" id="Enable" ></td>
                        </tr>
                         <tr>
                            <th scope="row">Tx 4</th>
                            <td> <input type="text" class="form-control"   title="equipmentIdTx4"   aria-describedby="basic-addon1"> </td>
                            <td> <input type="text" class="form-control"  [(ngModel)]="retardos[3]" title="timeOffsetTx4"  aria-describedby="basic-addon1"></td>
                            <td><select (change)="cambio($event.target.value, 'Tx4')">
                                <option>Positive</option>
                                <option>Negative</option>
                              </select></td>
                            <td><select [disabled]="negativeOn4">
                                <option>Dynamic</option>
                                <option *ngIf="!negativeOn4">Static</option>
                              </select></td>
                            <td><input type="checkbox"  name="Enable" id="Enable" ></td>
                        </tr>
                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                        </ngb-tab>
                    <ngb-tab title="Resultados" >
                        <ng-template ngbTabContent>
                            <h4>Seleccione los parametros que desea calcular</h4>
                <div>
                    <input type="checkbox" [(ngModel)]="distanciaTab"  name="distanciaTab" id="distanciaTab" > DISTANCIAS
                </div>
                 <div>
                    <input type="checkbox" [(ngModel)]="tiempoTab"  name="tiempoTab" id="tiempoTab" > TIEMPOS
                </div><br>
                 <button 
     type="button"
      class="btn btn-sm btn-secondary"
      data-toggle="tooltip" data-placement="top" title=""
      (click)="show()">Calcular</button> <br>
       

  <div class="card-block table-responsive" *ngIf="distanciaTab">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Distancias Camino Directo</th>
                            <th>Tx 1</th>
                            <th>Tx 2</th>
                            <th>Tx 3</th>
                            <th>Tx 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Rx 1</th>
                           <td>     <p *ngIf="tra0" id="testB"> </p> </td>
                            <td><p *ngIf="tra1" id="testA"> </p> </td>
                            <td><p  *ngIf="tra2" id="testdistTx3Rx1"> </p></td>
                            <td><p  *ngIf="tra3"id="testdistTx4Rx1"></p></td>
                        </tr>
                        <tr>
                            <th scope="row">Rx 2</th>
                            <td><p  id="testdistTx1Rx2"></p></td>
                            <td><p id="testdistTx2Rx2"></p></td>
                            <td><p  id="testdistTx3Rx2"></p> </td>
                            <td><p  id="testdistTx4Rx2"></p> </td>
                        </tr>
                    </tbody>
                </table>
            </div>

                     <div class="card-block table-responsive" *ngIf="distanciaTab">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Distancias Camino Reflejado</th>
                            <th>Tx 1</th>
                            <th>Tx 2</th>
                            <th>Tx 3</th>
                            <th>Tx 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Rx 1</th>
                            <td>  <p id="testTx1Ob"> </p> </td>
                            <td><p id="testTx2Rx1CR"> </p> </td>
                            <td><p id="testTx3Rx1CR"></p></td>
                            <td><p id="testTx4Rx1CR"></p></td>
                        </tr>
                        <tr>
                            <th scope="row">Rx 2</th>
                            <td> <p id="testTx1Rx2CR"> </p></td>
                            <td><p id="testTx2Rx2CR"> </p></td>
                            <td><p id="testTx3Rx2CR"></p></td>
                            <td><p id="testTx4Rx2CR"></p></td>
                        </tr>
                    </tbody>
                </table>
            </div>

             <div class="card-block table-responsive" *ngIf="tiempoTab">
                <table class="table table-inverse">
                    <thead>
                        <tr>
                            <th>Retardos por Camino Directo</th>
                            <th>Tx 1</th>
                            <th>Tx 2</th>
                            <th>Tx 3</th>
                            <th>Tx 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Rx 1</th>
                            <td><p id="testtiempoTx1Rx1"></p></td>
                            <td><p id="testtiempoTx2Rx1"></p></td>
                            <td><p id="testtiempoTx3Rx1"></p></td>
                            <td><p id="testtiempoTx4Rx1"></p></td>
                        </tr>
                        <tr>
                            <th scope="row">Rx 2</th>
                            <td><p id="testtiempoTx1Rx2"> </p></td>
                            <td><p id="testtiempoTx2Rx2"></p></td>
                            <td><p id="testtiempoTx3Rx2"></p></td>
                            <td><p id="testtiempoTx4Rx2"></p></td>
                        </tr>
                    </tbody>
                </table>
            </div>

                     <div class="card-block table-responsive"  *ngIf="tiempoTab">
                <table class="table table-inverse">
                    <thead>
                        <tr>
                            <th>Retardos por Camino Reflejado</th>
                            <th>Tx 1</th>
                            <th>Tx 2</th>
                            <th>Tx 3</th>
                            <th>Tx 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Rx 1</th>
                            <td><p id="testtiempoTx1Ob"></p></td>
                            <td><p id="testtiempoTx2Rx1CR"></p></td>
                            <td><p id="testtiempoTx3Rx1CR"></p></td>
                            <td><p id="testtiempoTx4Rx1CR"></p></td>
                        </tr>
                        <tr>
                            <th scope="row">Rx 2</th>
                            <td><p id="testtiempoTx1Rx2CR"></p></td>
                            <td><p id="testtiempoTx2Rx2CR"></p></td>
                            <td><p id="testtiempoTx3Rx2CR"></p></td>
                            <td><p id="testtiempoTx4Rx2CR"></p></td>
                        </tr>
                    </tbody>
                </table>
            </div> <br>

            
                        </ng-template>
                    </ngb-tab>  
                    <ngb-tab title="Ventana de Sincronizacion">
                        <ng-template ngbTabContent>
                          
            <div class="card-block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
                    </ng-template>
                    </ngb-tab> 
                <ngb-tab title="Verificacion Funcionamiento SFN">
                    <ng-template ngbTabContent >
                           <button 
                                 type="button"
                                 class="btn btn-sm btn-secondary"
                                data-toggle="tooltip" data-placement="top" title=""
                                (click)="calculoDistanciasRx1()">Menor</button> <br>
                    </ng-template>
                </ngb-tab>     
                </ngb-tabset>
            </div>
        </div>
    </div>
    





