
<h4>RED DE FRECUENCIA UNICA</h4>
<div>
    <agm-map
    [latitude]="lat" 
    [longitude]="lng"
    [zoom]="zoom">
                    <div *ngIf="tra0" >
                    <agm-marker
                    [latitude]="markers[0].lati" 
                    [longitude]="markers[0].longi"
                    [markerDraggable]="markers[0].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[0], $event)">
                    <agm-info-window> {{markers[0].nombre}} <br> Lat:{{mostLati}} <br> Long:{{ mostLongi}}</agm-info-window>
                    </agm-marker>
                    </div>

                    <div *ngIf="tra1" >
                    <agm-marker  
                    [latitude]="markers[1].lati" 
                    [longitude]="markers[1].longi"
                    [markerDraggable]="markers[1].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[1], $event)">
                    <agm-info-window>{{markers[1].nombre}} <br> Lat:{{mostLati1}} <br> Long:{{ mostLongi1}}</agm-info-window>
                    </agm-marker>
                    </div>

                    <div *ngIf="recep" >
                    <agm-marker  
                     [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/blue-dot.png'"
                    [latitude]="markers[2].lati" 
                    [longitude]="markers[2].longi"
                    [markerDraggable]="markers[2].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[2], $event)">
                    <agm-info-window>{{markers[2].nombre}} <br> Lat:{{mostLati2}} <br> Long:{{ mostLongi2}}</agm-info-window>
                    </agm-marker>
                    </div>

                   
                 <div *ngIf="obst" >
                    <agm-marker  
                     [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/green-dot.png'"
                    [latitude]="markers[3].lati" 
                    [longitude]="markers[3].longi"
                    [markerDraggable]="markers[3].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[3], $event)">
                    <agm-info-window>{{markers[3].nombre}} <br> Lat:{{mostLati3}} <br> Long:{{ mostLongi3}}</agm-info-window>
                    </agm-marker>
                    </div>
                    <div *ngIf="tra2" >
                    <agm-marker  
                    [latitude]="markers[4].lati" 
                    [longitude]="markers[4].longi"
                    [markerDraggable]="markers[4].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[4], $event)">
                    <agm-info-window>{{markers[4].nombre}} <br> Lat:{{mostLati4}} <br> Long:{{ mostLongi4}}</agm-info-window>
                    </agm-marker>
                    </div>

                     <div *ngIf="tra3" >
                    <agm-marker  
                    [latitude]="markers[5].lati" 
                    [longitude]="markers[5].longi"
                    [markerDraggable]="markers[5].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[5], $event)">
                    <agm-info-window>{{markers[5].nombre}} <br> Lat:{{mostLati5}} <br> Long:{{ mostLongi5}}</agm-info-window>
                    </agm-marker>
                    </div>
                  <div *ngIf="recep2" >
                    <agm-marker  
                     [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/blue-dot.png'"
                    [latitude]="markers[6].lati" 
                    [longitude]="markers[6].longi"
                    [markerDraggable]="markers[6].arrastrable"
                    (dragEnd)= "posicionFinalMarcador(markers[6], $event)">
                    <agm-info-window>{{markers[6].nombre}} <br> Lat:{{mostLati6}} <br> Long:{{ mostLongi6}}</agm-info-window>
                    </agm-marker>
                    </div>
    </agm-map>
</div>

<!-- Resultados  -->
<div class="row">
    <div class="col">   
        <div class="card mb-3">
            <div class="card-header"> </div>
            <div class="card-block">


                
                <ngb-tabset>
                    <ngb-tab title="Selector">
                        <ng-template ngbTabContent>
                            <br>
                            <div class="alert alert-warning" role="alert"> 
  <strong>Atencion!</strong> Ingresar latitud y longitud entre 10 y 18 digitos, utilizando "." y sin espacios. 
</div>

                                  <table class="table">
                    <tbody>
                          <form (ngSubmit)="uploadTx1()" #frmTx1="ngForm" >
                            <th scope="row"><input type="checkbox" [(ngModel)]="tra0" (change)="cambioTx1()" name="tra0" id="tra0"> Tx 1</th>
                            <td> <input [(ngModel)]="newLatTx1"  placeholder="Latitud" name="newLatTx1" id="newLatTx1" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"  /> </td>
                            <td> <input [(ngModel)]="newLongTx1"  placeholder="Longitud" name="newLongTx1" id="newLongTx1" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td><button [disabled]=!frmTx1.valid type="submit" class="btn btn-sm btn-secondary" > Actualizar </button></td>
                       <!--     <td> Lat: {{mostLati}}</td>
                            <td> Long:{{ mostLongi}}</td> -->
                            </form >
                        
                          <form (ngSubmit)="uploadTx2()" #frmTx2="ngForm"> 
                            <th scope="row"> <input type="checkbox" [(ngModel)]="tra1"  (change)="cambioTx2()"  name="tra1" id="tra1"> Tx 2 </th>
                            <td> <input [(ngModel)]="newLatTx2"  placeholder="Latitud" name="newLatTx2" id="newLatTx2" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td> <input [(ngModel)]="newLongTx2"  placeholder="Longitud" name="newLongTx2" id="newLongTx2" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td> <button  [disabled]=!frmTx2.valid type="submit" class="btn btn-sm btn-secondary" > Actualizar </button></td>
                       <!--     <td>Lat: {{mostLati1}}</td>
                            <td> Long:{{mostLongi1}}</td>-->
                            </form> 
                      
                             <form (ngSubmit)="uploadTx3()" #frmTx3="ngForm">
                            <th scope="row"> <input type="checkbox" [(ngModel)]="tra2" (change)="cambioTx3()"   name="tra2" id="tra2"> Tx 3</th>
                            <td> <input [(ngModel)]="newLatTx3"  placeholder="Latitud" name="newLatTx3" id="newLatTx3" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td> <input [(ngModel)]="newLongTx3"  placeholder="Longitud" name="newLongTx3" id="newLongTx3" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td><button  [disabled]=!frmTx3.valid type="submit" class="btn btn-sm btn-secondary" > Actualizar </button></td>
                     <!--       <td>Lat: {{mostLati4}}</td>
                            <td>Long:{{mostLongi4}}</td> -->
                             </form>
                       
                           <form (ngSubmit)="uploadTx4()" #frmTx4="ngForm">
                            <th scope="row"> <input type="checkbox" [(ngModel)]="tra3"  (change)="cambioTx4()"  name="tra3" id="tra3"> Tx 4</th>
                            <td> <input [(ngModel)]="newLatTx4"  placeholder="Latitud" name="newLatTx4" id="newLatTx4" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td> <input [(ngModel)]="newLongTx4"  placeholder="Longitud" name="newLongTx4" id="newLongTx4" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td><button  [disabled]=!frmTx4.valid type="submit" class="btn btn-sm btn-secondary" > Actualizar </button></td>
                       <!--     <td>Lat: {{mostLati5}}</td>
                            <td>Long:{{mostLongi5}}</td> -->
                             </form>
                        
                              <form (ngSubmit)="uploadRx()" #frmRx="ngForm">
                            <th scope="row"> <input type="checkbox" [(ngModel)]="recep" (change)="cambioRx1()"  name="recep" id="recep"> Rx 1</th>
                            <td> <input [(ngModel)]="newLatRx"  placeholder="Latitud" name="newLatRx" id="newLatRx" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td>  <input [(ngModel)]="newLongRx"  placeholder="Longitud" name="newLongRx" id="newLongRx" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td><button [disabled]=!frmRx.valid type="submit" class="btn btn-sm btn-secondary"> Actualizar </button></td>
                     <!--       <td>Lat: {{mostLati2}}</td>
                            <td>Long:{{mostLongi2}}</td> -->
                             </form>
                        
                              <form (ngSubmit)="uploadRx2()" #frmRx2="ngForm">
                            <th scope="row"> <input type="checkbox" [(ngModel)]="recep2" (change)="cambioRx2()"  name="recep2" id="recep2"> Rx 2</th>
                            <td> <input [(ngModel)]="newLatRx2"  placeholder="Latitud" name="newLatRx2" id="newLatRx2" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td>  <input [(ngModel)]="newLongRx2"  placeholder="Longitud" name="newLongRx2" id="newLongRx2" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td><button [disabled]=!frmRx2.valid type="submit" class="btn btn-sm btn-secondary"> Actualizar </button></td>
                     <!--       <td>Lat: {{mostLati6}}</td>
                            <td>Long:{{mostLongi6}}</td> -->
                             </form>
                   
                             <form (ngSubmit)="uploadOb()" #frmOb="ngForm" >
                            <th scope="row"> <input type="checkbox" [(ngModel)]="obst" (change)="cambioObst()" name="obst" id="obst" >Obst</th>
                            <td> <input [(ngModel)]="newLatOb"  placeholder="Latitud" name="newLatOb" id="newLatOb" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td>  <input [(ngModel)]="newLongOb"  placeholder="Longitud" name="newLongOb" id="newLongOb" ngModel  pattern="[-0-9.]{10,18}" required  title="cuidado!"/></td>
                            <td> <button  [disabled]=!frmOb.valid type="submit" class="btn btn-sm btn-secondary" > Actualizar </button></td>
                    <!--        <td>Lat: {{mostLati3}}</td>
                            <td>Long:{{mostLongi3}}</td> -->
                             </form>
                     
                    </tbody>
                </table> <br>
                
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Retardos">
                        <ng-template ngbTabContent>
                            <div class="card-block">
                                <div class="alert alert-warning" role="alert"> 
  <strong>Atencion!</strong> Luego de realizar las modificaciones recuerda APLICAR LOS CAMBIOS!
</div>
                              
                                  <form  (ngSubmit)="aplicarCambios()" #frmRetardos="ngForm"> 
                                        <button  type="submit" class="btn btn-sm btn-secondary" > Aplicar Cambios </button> <br><br>
                                        <input type="checkbox"  [(ngModel)]="retardosState[0]"  name="booleanRetardoTx1" id="booleanRetardoTx1"  > Habilitar SFN <br><br>
                                        <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th #td>Retardos</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     <tbody>
                                     <tr>
                                        <th #th scope="row">Retardo de Red: (µs)</th>
                                        <td> <input type="text" class="form-control" [(ngModel)]="retardoRed" name="retardoRed"   aria-describedby="basic-addon1"> </td>
                                    </tr>
                                                </tbody>
                                            </table> <br>
                                       
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Retardo adicional</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Equipment ID</th>
                                            <th>Time-Offset (µs)</th>
                                            <th>Tipo</th>
                                            <th>polarity</th> 
                                            <th>Enable</th>
                                        </tr>
                                    </thead>
                                 
                    <tbody>
                        
                         <tr>
                            <th scope="row">Tx 1</th>
                            <td> <input type="text" class="form-control"  title="equipmentIdTx1"   aria-describedby="basic-addon1"> </td>
                            <td><input type="text" class="form-control" [(ngModel)]="retardos[0]" name="retardoTx1" title="timeOffsetTx1" pattern="[-0-9.]{1,10}"  aria-describedby="basic-addon1"> </td>
                            <td> <select [(ngModel)]="polarity[0]" name="polarity[0]" title="polarity[0]" >
                                <option>Atraso</option>
                                <option disabled="retardoRed>0">Adelanto</option>
                              </select>
                        </td>
                        <td><select [disabled]="negativeOn1">
                                <option >Dynamic</option>
                                <option *ngIf="!negativeOn1">Static</option>
                              </select></td> 
                            <td><input type="checkbox"  [(ngModel)]="retardosState[0]"  name="booleanRetardoTx1" id="booleanRetardoTx1"  ></td>
                        </tr>
                         <tr>
                            <th scope="row">Tx 2</th>
                            <td> <input type="text" class="form-control"  title="equipmentIdTx2"    aria-describedby="basic-addon1"> </td>
                            <td> <input type="text" class="form-control"  [(ngModel)]="retardos[1]"  name="retardoTx2" title="timeOffsetTx2"   aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="polarity[1]" name="polarity[1]" title="polarity[1]">
                                <option>Atraso</option>
                                <option *ngIf="retardoRed>0">Adelanto</option>
                              </select></td>
                             <td><select [disabled]="negativeOn2">
                                <option>Dynamic</option>
                                <option *ngIf="!negativeOn2">Static</option>
                              </select></td> 
                            <td><input type="checkbox"    [(ngModel)]="retardosState[1]"  name="booleanRetardoTx2" id="booleanRetardoTx2" ></td>
                            
                        </tr>
                         <tr>
                            <th scope="row">Tx 3</th>
                            <td><input type="text" class="form-control"  title="equipmentIdTx3"    aria-describedby="basic-addon1"> </td>
                            <td><input type="text" class="form-control" [(ngModel)]="retardos[2]"  name="retardoTx3" title="timeOffsetTx3"   aria-describedby="basic-addon1"> </td>
                            <td><select [(ngModel)]="polarity[2]" name="polarity[2]" title="polarity[2]">
                                <option>Atraso</option>
                                <option *ngIf="retardoRed>0">Adelanto</option>
                              </select></td>
                       <td><select [disabled]="negativeOn3">
                                <option>Dynamic</option>
                                <option *ngIf="!negativeOn3" >Static</option>
                              </select></td> 
                            <td><input type="checkbox"    [(ngModel)]="retardosState[2]"  name="booleanRetardoTx3" id="booleanRetardoTx3" ></td>
                        </tr>
                         <tr>
                            <th scope="row">Tx 4</th>
                            <td> <input type="text" class="form-control"   title="equipmentIdTx4"   aria-describedby="basic-addon1"> </td>
                            <td> <input type="text" class="form-control"  [(ngModel)]="retardos[3]"  name="retardoTx4" title="timeOffsetTx4"  aria-describedby="basic-addon1"></td>
                            <td><select [(ngModel)]="polarity[3]" name="polarity[3]" title="polarity[3]">
                                <option>Atraso</option>
                                <option *ngIf="retardoRed>0">Adelanto</option>
                              </select></td>
                         <td><select [disabled]="negativeOn4">
                                <option>Dynamic</option>
                                <option *ngIf="!negativeOn4">Static</option>
                              </select></td> 
                            <td><input type="checkbox" [(ngModel)]="retardosState[3]"  name="booleanRetardoTx4" id="booleanRetardoTx4" ></td>
                        </tr> <br>
                         
                      
                    </tbody>
                        
                                </table>
               
                                  </form>
                            </div>
                        </ng-template>
                        </ngb-tab>
 <!--                   <ngb-tab title="Distancias" >
                        <ng-template ngbTabContent>
                            <h4>Seleccione los parametros que desea calcular</h4>
                <div>
                    <input type="checkbox" [(ngModel)]="distanciaTab"  name="distanciaTab" id="distanciaTab" > Distancia en KM
                </div>
                 <div>
                    <input type="checkbox" [(ngModel)]="tiempoTab"  name="tiempoTab" id="tiempoTab" > Distancia en μseg
                </div><br>
                 <button 
     type="button"
      class="btn btn-sm btn-secondary"
      data-toggle="tooltip" data-placement="top" title=""
      (click)="show()">Calcular</button> <br>
       

  <div class="card-block table-responsive" *ngIf="distanciaTab">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Distancias Camino Directo</th>
                            <th>Tx 1</th>
                            <th>Tx 2</th>
                            <th>Tx 3</th>
                            <th>Tx 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Rx 1</th>
                           <td>     <p *ngIf="tra0" id="testB"> </p> </td>
                            <td><p *ngIf="tra1" id="testA"> </p> </td>
                            <td><p  *ngIf="tra2" id="testdistTx3Rx1"> </p></td>
                            <td><p  *ngIf="tra3"id="testdistTx4Rx1"></p></td>
                        </tr>
                        <tr>
                            <th scope="row">Rx 2</th>
                            <td><p  id="testdistTx1Rx2"></p></td>
                            <td><p id="testdistTx2Rx2"></p></td>
                            <td><p  id="testdistTx3Rx2"></p> </td>
                            <td><p  id="testdistTx4Rx2"></p> </td>
                        </tr>
                        <tr>
                                <th scope="row">Distancias Camino Reflejado</th>
                                <td>  </td>
                                <td> </td>
                                <td>  </td>
                                <td>  </td>
                            </tr>
                            <tr>
                                    <th scope="row">Rx 1</th>
                                    <td>  <p id="testTx1Ob"> </p> </td>
                                    <td><p id="testTx2Rx1CR"> </p> </td>
                                    <td><p id="testTx3Rx1CR"></p></td>
                                    <td><p id="testTx4Rx1CR"></p></td>
                                </tr>
                                <tr>
                                    <th scope="row">Rx 2</th>
                                    <td> <p id="testTx1Rx2CR"> </p></td>
                                    <td><p id="testTx2Rx2CR"> </p></td>
                                    <td><p id="testTx3Rx2CR"></p></td>
                                    <td><p id="testTx4Rx2CR"></p></td>
                                </tr>
                    </tbody>
                </table>
            </div>

 <!--                   <div class="card-block table-responsive" *ngIf="distanciaTab">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Distancias Camino Reflejado</th>
                            <th>Tx 1</th>
                            <th>Tx 2</th>
                            <th>Tx 3</th>
                            <th>Tx 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Rx 1</th>
                            <td>  <p id="testTx1Ob"> </p> </td>
                            <td><p id="testTx2Rx1CR"> </p> </td>
                            <td><p id="testTx3Rx1CR"></p></td>
                            <td><p id="testTx4Rx1CR"></p></td>
                        </tr>
                        <tr>
                            <th scope="row">Rx 2</th>
                            <td> <p id="testTx1Rx2CR"> </p></td>
                            <td><p id="testTx2Rx2CR"> </p></td>
                            <td><p id="testTx3Rx2CR"></p></td>
                            <td><p id="testTx4Rx2CR"></p></td>
                        </tr>
                    </tbody>
                </table>
            </div> -->

             <div class="card-block table-responsive" *ngIf="tiempoTab">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Retardos por Camino Directo</th>
                            <th>Tx 1</th>
                            <th>Tx 2</th>
                            <th>Tx 3</th>
                            <th>Tx 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Rx 1</th>
                            <td><p id="testtiempoTx1Rx1"></p></td>
                            <td><p id="testtiempoTx2Rx1"></p></td>
                            <td><p id="testtiempoTx3Rx1"></p></td>
                            <td><p id="testtiempoTx4Rx1"></p></td>
                        </tr>
                        <tr>
                            <th scope="row">Rx 2</th>
                            <td><p id="testtiempoTx1Rx2"> </p></td>
                            <td><p id="testtiempoTx2Rx2"></p></td>
                            <td><p id="testtiempoTx3Rx2"></p></td>
                            <td><p id="testtiempoTx4Rx2"></p></td>
                        </tr>
                        <tr>
                                <th>Retardos por Camino Reflejado</th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                            </tr>
                            <tr>
                                    <th scope="row">Rx 1</th>
                                    <td><p id="testtiempoTx1Ob"></p></td>
                                    <td><p id="testtiempoTx2Rx1CR"></p></td>
                                    <td><p id="testtiempoTx3Rx1CR"></p></td>
                                    <td><p id="testtiempoTx4Rx1CR"></p></td>
                                </tr>
                                <tr>
                                    <th scope="row">Rx 2</th>
                                    <td><p id="testtiempoTx1Rx2CR"></p></td>
                                    <td><p id="testtiempoTx2Rx2CR"></p></td>
                                    <td><p id="testtiempoTx3Rx2CR"></p></td>
                                    <td><p id="testtiempoTx4Rx2CR"></p></td>
                                </tr>
                    </tbody>
                </table>
            </div>

 <!--                    <div class="card-block table-responsive"  *ngIf="tiempoTab">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Retardos por Camino Reflejado</th>
                            <th>Tx 1</th>
                            <th>Tx 2</th>
                            <th>Tx 3</th>
                            <th>Tx 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Rx 1</th>
                            <td><p id="testtiempoTx1Ob"></p></td>
                            <td><p id="testtiempoTx2Rx1CR"></p></td>
                            <td><p id="testtiempoTx3Rx1CR"></p></td>
                            <td><p id="testtiempoTx4Rx1CR"></p></td>
                        </tr>
                        <tr>
                            <th scope="row">Rx 2</th>
                            <td><p id="testtiempoTx1Rx2CR"></p></td>
                            <td><p id="testtiempoTx2Rx2CR"></p></td>
                            <td><p id="testtiempoTx3Rx2CR"></p></td>
                            <td><p id="testtiempoTx4Rx2CR"></p></td>
                        </tr>
                    </tbody>
                </table>
            </div> <br> 

            
                        </ng-template>
                    </ngb-tab>   -->
 <!--         <ngb-tab title="Generador Deltas SFN">
                        <ng-template ngbTabContent >
                                <button 
                                type="button"
                                class="btn btn-sm btn-secondary"
                               data-toggle="tooltip" data-placement="top" title=""
                               (click)="calculoDistanciasRx1()">Verificar Rx1</button><br>

                                <button 
                                type="button"
                                class="btn btn-sm btn-secondary"
                               data-toggle="tooltip" data-placement="top" title=""
                               (click)="calculoDistanciasRx2()">Verificar Rx2</button> <br> <br>
                                     <table class="table ">
                        <thead>
                            <tr>
                                <th> Delta Camino Directo [µs] </th>
                                <th>Tx 1</th>
                                <th>Tx 2</th>
                                <th>Tx 3</th>
                                <th>Tx 4</th>
                            </tr>
                        </thead>
      <tbody>
          
                            <tr>
                                <th scope="row">Rx 1</th>
                                <td >
                                 <span  *ngIf="interfBoolean[0] && tra0 && recep" style="color:red"  >{{interfTx[0]}}</span>
                                 <span *ngIf="!interfBoolean[0] && tra0 && recep" style="color:black"  >{{interfTx[0]}}</span>
                                </td>
                                <td>
                                 <span *ngIf="interfBoolean[1] && tra1 && recep" style="color:red"  >{{interfTx[1]}}</span>
                                 <span *ngIf="!interfBoolean[1] && tra1 && recep" style="color:black"  >{{interfTx[1]}}</span>
    
                                 </td>
                                <td>
                                 <span *ngIf="interfBoolean[2] && tra2 && recep" style="color:red"  >{{interfTx[2]}}</span>
                                 <span *ngIf="!interfBoolean[2] && tra2 && recep" style="color:black"  >{{interfTx[2]}}</span>
    
                                 </td>
                                <td>
                                 <span *ngIf="interfBoolean[3] && tra3 && recep" style="color:red"  >{{interfTx[3]}}</span>
                                 <span *ngIf="!interfBoolean[3] && tra3 && recep" style="color:black"  >{{interfTx[3]}}</span>
    
                                 </td>
                               
                            </tr>
                            <tr>
                                    <th scope="row"> Rx2</th>
                                    <td>
                                     <span *ngIf="interfBooleanRx2[0] && tra0 && recep2" style="color:red"  >{{interfTxRx2[0]}}</span>
                                     <span *ngIf="!interfBooleanRx2[0] && tra0 && recep2" style="color:black"  >{{interfTxRx2[0]}}</span>
                                    </td>
                                    <td>
                                     <span *ngIf="interfBooleanRx2[1] && tra1 && recep2" style="color:red"  >{{interfTxRx2[1]}}</span>
                                     <span *ngIf="!interfBooleanRx2[1] && tra1 && recep2" style="color:black"  >{{interfTxRx2[1]}}</span>
        
                                     </td>
                                    <td>
                                     <span *ngIf="interfBooleanRx2[2] && tra2 && recep2" style="color:red"  >{{interfTxRx2[2]}}</span>
                                     <span *ngIf="!interfBooleanRx2[2] && tra2 && recep2" style="color:black"  >{{interfTxRx2[2]}}</span>
        
                                     </td>
                                    <td>
                                     <span *ngIf="interfBooleanRx2[3] && tra3 && recep2" style="color:red"  >{{interfTxRx2[3]}}</span>
                                     <span *ngIf="!interfBooleanRx2[3] && tra3 && recep2" style="color:black"  >{{interfTxRx2[3]}}</span>
        
                                     </td>
                                   
                                </tr>
            
<!--                            <tr>
                                    <th scope="row">Delta Camino Reflejado [µs] </th>
                                   <td>
                                     <span *ngIf="interfBoolean[4] && tra0 && recep" style="color:red"  >{{interfTx[4]}}</span>
                                     <span *ngIf="!interfBoolean[4] && tra0 && recep" style="color:black"  >{{interfTx[4]}}</span>
                                    </td>
                                    <td>
                                     <span *ngIf="interfBoolean[5] && tra1 && recep" style="color:red"  >{{interfTx[5]}}</span>
                                     <span *ngIf="!interfBoolean[5] && tra1 && recep" style="color:black"  >{{interfTx[5]}}</span>
        
                                     </td>
                                    <td>
                                     <span *ngIf="interfBoolean[6] && tra2 && recep" style="color:red"  >{{interfTx[6]}}</span>
                                     <span *ngIf="!interfBoolean[6] && tra2 && recep" style="color:black"  >{{interfTx[6]}}</span>
        
                                     </td>
                                    <td>
                                     <span *ngIf="interfBoolean[7] && tra3 && recep" style="color:red"  >{{interfTx[7]}}</span>
                                     <span *ngIf="!interfBoolean[7] && tra3 && recep" style="color:black"  >{{interfTx[7]}}</span>
        
                                     </td>
                                </tr>  
      </tbody>
                                     </table> <br>
            
<!--   <table class="table ">
                        <thead>
                            <tr>
                                <th>Interferencia Camino Reflejado [µs]  </th>
                                <th>Tx 1</th>
                                <th>Tx 2</th>
                                <th>Tx 3</th>
                                <th>Tx 4</th>
                            </tr>
                        </thead>
      <tbody>
                            <tr>
                                <th scope="row">Rx 1</th>
                               <td>
                                 <span *ngIf="interfBoolean[4] && tra0 && recep" style="color:red"  >{{interfTx[4]}}</span>
                                 <span *ngIf="!interfBoolean[4] && tra0 && recep" style="color:black"  >{{interfTx[4]}}</span>
                                </td>
                                <td>
                                 <span *ngIf="interfBoolean[5] && tra1 && recep" style="color:red"  >{{interfTx[5]}}</span>
                                 <span *ngIf="!interfBoolean[5] && tra1 && recep" style="color:black"  >{{interfTx[5]}}</span>
    
                                 </td>
                                <td>
                                 <span *ngIf="interfBoolean[6] && tra2 && recep" style="color:red"  >{{interfTx[6]}}</span>
                                 <span *ngIf="!interfBoolean[6] && tra2 && recep" style="color:black"  >{{interfTx[6]}}</span>
    
                                 </td>
                                <td>
                                 <span *ngIf="interfBoolean[7] && tra3 && recep" style="color:red"  >{{interfTx[7]}}</span>
                                 <span *ngIf="!interfBoolean[7] && tra3 && recep" style="color:black"  >{{interfTx[7]}}</span>
    
                                 </td>
                            </tr>
      </tbody>
                                     </table>  
                               
                                     <table class="table ">
                        <thead>
                            <tr>
                                <th> Delta Camino Reflejado [µs] </th>
                                <th>Tx 1</th>
                                <th>Tx 2</th>
                                <th>Tx 3</th>
                                <th>Tx 4</th>
                            </tr>
                        </thead>
      <tbody>
                            <tr>
                                <th scope="row"> Rx1</th>
                                <td>
                                        <span *ngIf="interfBoolean[4] && tra0 && recep" style="color:red"  >{{interfTx[4]}}</span>
                                        <span *ngIf="!interfBoolean[4] && tra0 && recep" style="color:black"  >{{interfTx[4]}}</span>
                                       </td>
                                       <td>
                                        <span *ngIf="interfBoolean[5] && tra1 && recep" style="color:red"  >{{interfTx[5]}}</span>
                                        <span *ngIf="!interfBoolean[5] && tra1 && recep" style="color:black"  >{{interfTx[5]}}</span>
           
                                        </td>
                                       <td>
                                        <span *ngIf="interfBoolean[6] && tra2 && recep" style="color:red"  >{{interfTx[6]}}</span>
                                        <span *ngIf="!interfBoolean[6] && tra2 && recep" style="color:black"  >{{interfTx[6]}}</span>
           
                                        </td>
                                       <td>
                                        <span *ngIf="interfBoolean[7] && tra3 && recep" style="color:red"  >{{interfTx[7]}}</span>
                                        <span *ngIf="!interfBoolean[7] && tra3 && recep" style="color:black"  >{{interfTx[7]}}</span>
           
                                        </td>                    
                            </tr>
                            <tr>
                                    <th scope="row">Rx2</th>
                                   <td>
                                     <span *ngIf="interfBooleanRx2[4] && tra0 && recep2" style="color:red"  >{{interfTxRx2[4]}}</span>
                                     <span *ngIf="!interfBooleanRx2[4] && tra0 && recep2" style="color:black"  >{{interfTxRx2[4]}}</span>
                                    </td>
                                    <td>
                                     <span *ngIf="interfBooleanRx2[5] && tra1 && recep2" style="color:red"  >{{interfTxRx2[5]}}</span>
                                     <span *ngIf="!interfBooleanRx2[5] && tra1 && recep2" style="color:black"  >{{interfTxRx2[5]}}</span>
        
                                     </td>
                                    <td>
                                     <span *ngIf="interfBooleanRx2[6] && tra2 && recep2" style="color:red"  >{{interfTxRx2[6]}}</span>
                                     <span *ngIf="!interfBooleanRx2[6] && tra2 && recep2" style="color:black"  >{{interfTxRx2[6]}}</span>
        
                                     </td>
                                    <td>
                                     <span *ngIf="interfBooleanRx2[7] && tra3 && recep2" style="color:red"  >{{interfTxRx2[7]}}</span>
                                     <span *ngIf="!interfBooleanRx2[7] && tra3 && recep2" style="color:black"  >{{interfTxRx2[7]}}</span>
        
                                     </td>
                                </tr>
      </tbody>
                                     </table> <br> <!--
    <table class="table ">
                        <thead>
                            <tr>
                                <th>Interferencia Camino Reflejado [µs]  </th>
                                <th>Tx 1</th>
                                <th>Tx 2</th>
                                <th>Tx 3</th>
                                <th>Tx 4</th>
                            </tr>
                        </thead>
      <tbody>
                            <tr>
                                <th scope="row">Rx 2</th>
                               <td>
                                 <span *ngIf="interfBooleanRx2[4] && tra0 && recep2" style="color:red"  >{{interfTxRx2[4]}}</span>
                                 <span *ngIf="!interfBooleanRx2[4] && tra0 && recep2" style="color:black"  >{{interfTxRx2[4]}}</span>
                                </td>
                                <td>
                                 <span *ngIf="interfBooleanRx2[5] && tra1 && recep2" style="color:red"  >{{interfTxRx2[5]}}</span>
                                 <span *ngIf="!interfBooleanRx2[5] && tra1 && recep2" style="color:black"  >{{interfTxRx2[5]}}</span>
    
                                 </td>
                                <td>
                                 <span *ngIf="interfBooleanRx2[6] && tra2 && recep2" style="color:red"  >{{interfTxRx2[6]}}</span>
                                 <span *ngIf="!interfBooleanRx2[6] && tra2 && recep2" style="color:black"  >{{interfTxRx2[6]}}</span>
    
                                 </td>
                                <td>
                                 <span *ngIf="interfBooleanRx2[7] && tra3 && recep2" style="color:red"  >{{interfTxRx2[7]}}</span>
                                 <span *ngIf="!interfBooleanRx2[7] && tra3 && recep2" style="color:black"  >{{interfTxRx2[7]}}</span>
    
                                 </td>
                            </tr>
      </tbody>
                                     </table>  
    
                              
                        </ng-template>
                    </ngb-tab>      --> 
    
                    <ngb-tab  title="Ventana de Sincronizacion Rx1">
                        
                        <ng-template ngbTabContent>
                            
<div *ngIf="recep">
        <br> 
        <button 
        type="button"
        class="btn btn-sm btn-secondary"
        data-toggle="tooltip" data-placement="top" title=""
        (click)="ventanaSincro()">Mostrar</button> <br>    
<script src="node_modules/chart.js/src/chart.js"></script>
<div *ngIf="chart_visible">
<canvas 
 baseChart height="100"
        [datasets]="lineChartData"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
  ></canvas>

</div>

</div>

<div class="card-block table-responsive">
        <table class="table ">
            <thead>
                <tr>
                    <th> Rx 1</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                            <th scope="row"></th>
                           <td>  Tx 1  </td>
                            <td>Tx 2</td>
                            <td>Tx 3</td>
                            <td>Tx 4</td>
                        </tr>
                <tr>
                    <th scope="row">Distancias Camino Directo [Km]</th>
                   <td>     <p *ngIf="tra0" id="testB"> </p> </td>
                    <td><p *ngIf="tra1" id="testA"> </p> </td>
                    <td><p  *ngIf="tra2" id="testdistTx3Rx1"> </p></td>
                    <td><p  *ngIf="tra3"id="testdistTx4Rx1"></p></td>
                </tr>
                    <tr>
                            <th scope="row">Distancias Camino Reflejado [Km]</th>
                            <td>  <p id="testTx1Ob"> </p> </td>
                            <td><p id="testTx2Rx1CR"> </p> </td>
                            <td><p id="testTx3Rx1CR"></p></td>
                            <td><p id="testTx4Rx1CR"></p></td>
                        </tr>
            </tbody>
        </table>
    </div>
    <div class="card-block table-responsive">
    <table class="table ">
            <thead>
                <tr>
                    <th> Rx 1 </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                            <th scope="row"></th>
                           <td>  Tx 1  </td>
                            <td>Tx 2</td>
                            <td>Tx 3</td>
                            <td>Tx 4</td>
                        </tr>
                          
                    <tr>
                            <th scope="row"> Delta Camino Directo [µs]</th>
                            <td >
                             <span  *ngIf="interfBoolean[0] && tra0 && recep" style="color:red"  >{{interfTx[0]}}</span>
                             <span *ngIf="!interfBoolean[0] && tra0 && recep" style="color:black"  >{{interfTx[0]}}</span>
                            </td>
                            <td>
                             <span *ngIf="interfBoolean[1] && tra1 && recep" style="color:red"  >{{interfTx[1]}}</span>
                             <span *ngIf="!interfBoolean[1] && tra1 && recep" style="color:black"  >{{interfTx[1]}}</span>

                             </td>
                            <td>
                             <span *ngIf="interfBoolean[2] && tra2 && recep" style="color:red"  >{{interfTx[2]}}</span>
                             <span *ngIf="!interfBoolean[2] && tra2 && recep" style="color:black"  >{{interfTx[2]}}</span>

                             </td>
                            <td>
                             <span *ngIf="interfBoolean[3] && tra3 && recep" style="color:red"  >{{interfTx[3]}}</span>
                             <span *ngIf="!interfBoolean[3] && tra3 && recep" style="color:black"  >{{interfTx[3]}}</span>

                             </td>
                           
                        </tr>
                        <tr>
                                <th scope="row"> Delta Camino Reflejado [µs]</th>
                                <td  >
                                        <span *ngIf="interfBoolean[4] && tra0 && recep && obst" style="color:red"  >{{interfTx[4]}}</span>
                                        <span *ngIf="!interfBoolean[4] && tra0 && recep && obst" style="color:black"  >{{interfTx[4]}}</span>
                                       </td>
                                       <td>
                                        <span *ngIf="interfBoolean[5] && tra1 && recep && obst" style="color:red"  >{{interfTx[5]}}</span>
                                        <span *ngIf="!interfBoolean[5] && tra1 && recep && obst" style="color:black"  >{{interfTx[5]}}</span>
           
                                        </td>
                                       <td>
                                        <span *ngIf="interfBoolean[6] && tra2 && recep && obst" style="color:red"  >{{interfTx[6]}}</span>
                                        <span *ngIf="!interfBoolean[6] && tra2 && recep && obst" style="color:black"  >{{interfTx[6]}}</span>
           
                                        </td>
                                       <td>
                                        <span *ngIf="interfBoolean[7] && tra3 && recep && obst" style="color:red"  >{{interfTx[7]}}</span>
                                        <span *ngIf="!interfBoolean[7] && tra3 && recep && obst" style="color:black"  >{{interfTx[7]}}</span>
           
                                        </td>                    
                            </tr>
            </tbody>
    </table>
    </div>                       

                    </ng-template>
                    </ngb-tab> 
                    <ngb-tab title="Ventana de Sincronizacion Rx2">
                        <ng-template ngbTabContent>
                            
<div *ngIf="recep2">
    <br>
        <button 
        type="button"
        class="btn btn-sm btn-secondary"
       data-toggle="tooltip" data-placement="top" title=""
       (click)="ventanaSincro2()">Mostrar</button> <br>
        <div *ngIf="chart_visible2">
            <canvas 
             baseChart height="100"
                    [datasets]="lineChartData2"
                    [options]="lineChartOptions2"
                    [colors]="lineChartColors2"
                    [legend]="lineChartLegend2"
                    [chartType]="lineChartType2"
              ></canvas>
            
            </div>
           
        </div>

        <div class="card-block table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th> Rx 2</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                    <th scope="row"></th>
                                   <td>  Tx 1  </td>
                                    <td>Tx 2</td>
                                    <td>Tx 3</td>
                                    <td>Tx 4</td>
                                </tr>
                        <tr>
                            <th scope="row">Distancias Camino Directo [Km]</th>
                            <td><p  id="testdistTx1Rx2"></p></td>
                            <td><p id="testdistTx2Rx2"></p></td>
                            <td><p  id="testdistTx3Rx2"></p> </td>
                            <td><p  id="testdistTx4Rx2"></p> </td>
                        </tr>
                                <tr>
                                    <th scope="row">Distancias Camino Reflejado [Km]</th>
                                    <td> <p id="testTx1Rx2CR"> </p></td>
                                    <td><p id="testTx2Rx2CR"> </p></td>
                                    <td><p id="testTx3Rx2CR"></p></td>
                                    <td><p id="testTx4Rx2CR"></p></td>
                                </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-block table-responsive">
            <table class="table ">
                    <thead>
                        <tr>
                            <th> Rx2 </th>

                        </tr>
                    </thead>
  <tbody>
        <tr>
                <th scope="row"></th>
               <td>  Tx 1  </td>
                <td>Tx 2</td>
                <td>Tx 3</td>
                <td>Tx 4</td>
            </tr>
        <tr>
                <th scope="row"> Delta Camino Directo [µs]</th>
                <td>
                 <span *ngIf="interfBooleanRx2[0] && tra0 && recep2 " style="color:red"  >{{interfTxRx2[0]}}</span>
                 <span *ngIf="!interfBooleanRx2[0] && tra0 && recep2" style="color:black"  >{{interfTxRx2[0]}}</span>
                </td>
                <td>
                 <span *ngIf="interfBooleanRx2[1] && tra1 && recep2" style="color:red"  >{{interfTxRx2[1]}}</span>
                 <span *ngIf="!interfBooleanRx2[1] && tra1 && recep2" style="color:black"  >{{interfTxRx2[1]}}</span>

                 </td>
                <td>
                 <span *ngIf="interfBooleanRx2[2] && tra2 && recep2" style="color:red"  >{{interfTxRx2[2]}}</span>
                 <span *ngIf="!interfBooleanRx2[2] && tra2 && recep2" style="color:black"  >{{interfTxRx2[2]}}</span>

                 </td>
                <td>
                 <span *ngIf="interfBooleanRx2[3] && tra3 && recep2" style="color:red"  >{{interfTxRx2[3]}}</span>
                 <span *ngIf="!interfBooleanRx2[3] && tra3 && recep2" style="color:black"  >{{interfTxRx2[3]}}</span>

                 </td>
               
            </tr>
            <tr>
                    <th scope="row">Delta Camino Reflejado [µs]</th>
                   <td>
                     <span *ngIf="interfBooleanRx2[4] && tra0 && recep2 && obst" style="color:red"  >{{interfTxRx2[4]}}</span>
                     <span *ngIf="!interfBooleanRx2[4] && tra0 && recep2 && obst" style="color:black"  >{{interfTxRx2[4]}}</span>
                    </td>
                    <td>
                     <span *ngIf="interfBooleanRx2[5] && tra1 && recep2 && obst" style="color:red"  >{{interfTxRx2[5]}}</span>
                     <span *ngIf="!interfBooleanRx2[5] && tra1 && recep2 && obst" style="color:black"  >{{interfTxRx2[5]}}</span>

                     </td>
                    <td>
                     <span *ngIf="interfBooleanRx2[6] && tra2 && recep2 && obst" style="color:red"  >{{interfTxRx2[6]}}</span>
                     <span *ngIf="!interfBooleanRx2[6] && tra2 && recep2 && obst" style="color:black"  >{{interfTxRx2[6]}}</span>

                     </td>
                    <td>
                     <span *ngIf="interfBooleanRx2[7] && tra3 && recep2 && obst" style="color:red"  >{{interfTxRx2[7]}}</span>
                     <span *ngIf="!interfBooleanRx2[7] && tra3 && recep2 && obst" style="color:black"  >{{interfTxRx2[7]}}</span>

                     </td>
                </tr>
  </tbody>
            </table>
            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
    





