agm-map {
  height: 600px;
}

#esteDiv {

  width: 200px;
}


.table tr {
  border: 1px solid #000;
}   

.table td {
  border: 1px solid #000;
}   

.table th {
  border: 1px solid #000;
}   

@media all and (max-width: 600px){
  input {
     width: 100%; max-width: 100%;
  }
}

@media all and (max-width: 600px){
  card {
     width: 100%; max-width: 100%;
  }
}

@media all and (max-width: 600px){
  table {
     width: 100%; max-width: 100%;
  }
}
